Repository cucumber/common, pull requests merged in 2018-10, with the labels that each got.

#500 tag-expressions-python: Update and basic support for #406
  tag-expressions/python/.bumpversion.cfg
  tag-expressions/python/.gitignore
  tag-expressions/python/.subrepo
  tag-expressions/python/.travis.yml
  tag-expressions/python/Pipfile
  tag-expressions/python/README.md
  tag-expressions/python/README.rst
  tag-expressions/python/cucumber_tag_expressions/__init__.py
  tag-expressions/python/cucumber_tag_expressions/parser.py
  tag-expressions/python/invoke.yaml
  tag-expressions/python/py.requirements/testing.txt
  tag-expressions/python/pytest.ini
  tag-expressions/python/setup.py
  tag-expressions/python/tox.ini
Labels: language: python, library: tag-expressions

#504 tag-expressions.python: FIX MANIFEST.in for source-distribution package creation
  tag-expressions/python/MANIFEST.in
Labels: language: python, library: tag-expressions

#505 tag-expressions.python: Bump version to 1.1.2.dev0 (was: 1.1.1)
  tag-expressions/python/.bumpversion.cfg
  tag-expressions/python/cucumber_tag_expressions/__init__.py
  tag-expressions/python/pytest.ini
  tag-expressions/python/setup.py
Labels: language: python, library: tag-expressions

#506 tag-expressions.python: FIX: CI travis build: push_subrepos step
  tag-expressions/python/.subrepo
Labels: language: python, library: tag-expressions

#502 add cucumber engine message
  cucumber-messages/messages.proto
Labels: library: cucumber-messages

#496 Anonymous Parameter Types
  cucumber-expressions/examples.txt
  cucumber-expressions/go/cucumber_expression.go
  cucumber-expressions/go/cucumber_expression_generator.go
  cucumber-expressions/go/cucumber_expression_test.go
  cucumber-expressions/go/custom_parameter_type_test.go
  cucumber-expressions/go/expression.go
  cucumber-expressions/go/parameter_by_type_transformer.go
  cucumber-expressions/go/parameter_by_type_transformer_test.go
  cucumber-expressions/go/parameter_type.go
  cucumber-expressions/go/parameter_type_registry.go
  cucumber-expressions/go/parameter_type_registry_test.go
  cucumber-expressions/go/regular_expression.go
  cucumber-expressions/go/regular_expression_test.go
  cucumber-expressions/java/README.md
  cucumber-expressions/java/pom.xml
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/AmbiguousParameterTypeException.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Argument.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/BuiltInParameterTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Expression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ObjectMapperTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterByTypeTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterType.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeRegistry.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/RegularExpression.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/BuiltInParameterTransformerTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CustomParameterTypeTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/EnumParameterTypeTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ExpressionExamplesTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/GenericParameterTypeTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ParameterByTypeTransformerTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ParameterTypeRegistryTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/RegularExpressionTest.java
  cucumber-expressions/javascript/src/cucumber_expression.js
  cucumber-expressions/javascript/src/parameter_type_registry.js
  cucumber-expressions/javascript/test/cucumber_expression_test.js
  cucumber-expressions/javascript/test/custom_parameter_type_test.js
  cucumber-expressions/javascript/test/regular_expression_test.js
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/cucumber_expression.rb
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/parameter_type_registry.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/cucumber_expression_spec.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/custom_parameter_type_spec.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/regular_expression_spec.rb
Labels: language: go, language: java, language: javascript, library: cucumber-expressions

#512 Leading Tab characters break parser logic
  gherkin/c/src/gherkin_line.c
Labels: language: c, library: gherkin

#518 Better expression heuristics. Closes #515.
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ExpressionFactory.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ExpressionFactoryTest.java
Labels: language: java, library: cucumber-expressions
