Repository cucumber/common, pull requests merged in 2018-04, with the labels that each got.

#350 cucumber-expressions: add go implementation
  cucumber-expressions/go/Makefile
  cucumber-expressions/go/argument.go
  cucumber-expressions/go/combinatorial_generated_expression_factory.go
  cucumber-expressions/go/combinatorial_generated_expression_factory_test.go
  cucumber-expressions/go/cucumber_expression.go
  cucumber-expressions/go/cucumber_expression_generator.go
  cucumber-expressions/go/cucumber_expression_generator_test.go
  cucumber-expressions/go/cucumber_expression_regexp_test.go
  cucumber-expressions/go/cucumber_expression_test.go
  cucumber-expressions/go/custom_parameter_type_test.go
  cucumber-expressions/go/errors.go
  cucumber-expressions/go/examples.txt
  cucumber-expressions/go/expression.go
  cucumber-expressions/go/expression_examples_test.go
  cucumber-expressions/go/generated_expression.go
  cucumber-expressions/go/group.go
  cucumber-expressions/go/group_builder.go
  cucumber-expressions/go/iterator.go
  cucumber-expressions/go/lib/.gitignore
  cucumber-expressions/go/parameter_type.go
  cucumber-expressions/go/parameter_type_matcher.go
  cucumber-expressions/go/parameter_type_registry.go
  cucumber-expressions/go/parameter_type_registry_test.go
  cucumber-expressions/go/parameter_type_test.go
  cucumber-expressions/go/regular_expression.go
  cucumber-expressions/go/regular_expression_test.go
  cucumber-expressions/go/stack.go
  cucumber-expressions/go/submatch.go
  cucumber-expressions/go/tree_regexp.go
  cucumber-expressions/go/tree_regexp_test.go
Labels: language: go, library: cucumber-expressions

#354 Fix default Java parameter types
  cucumber-expressions/README.md
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeRegistry.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionTest.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableTypeRegistry.java
Labels: language: java, library: cucumber-expressions, library: data-tables

#355 [gherkin-dotnet] make compilation on macOS & linux the same as on Windows
  Dockerfile.cucumber-build-dotnet
  gherkin/dotnet/CONTRIBUTING.md
  gherkin/dotnet/Gherkin.CLI/Gherkin.CLI.csproj
  gherkin/dotnet/Gherkin.Specs/Gherkin.Specs.csproj
  gherkin/dotnet/Gherkin.Specs/SuccessfulParsingTests.cs
  gherkin/dotnet/Gherkin.Specs/TokenizationTests.cs
  gherkin/dotnet/Gherkin.TokensGenerator/Gherkin.TokensGenerator.csproj
  gherkin/dotnet/Gherkin.TokensGeneratorLib/Gherkin.TokensGeneratorLib.csproj
  gherkin/dotnet/Gherkin/Gherkin.csproj
  gherkin/dotnet/Makefile
  gherkin/dotnet/netfx.props
Labels: language: c#, library: gherkin

#359 fix cucumber-expressions tests
  cucumber-expressions/go/regular_expression_test.go
Labels: language: go, library: cucumber-expressions

#357 Cucumber expressions: Remove single transformer
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CaptureGroupTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/MultiTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterType.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Transformer.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CustomParameterTypeTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/GenericParameterTypeTest.java
Labels: library: cucumber-expressions

#369 Fixed Russian equivalents with Given and Then in Gherkin language.
  .gitignore
  gherkin/gherkin-languages.json
Labels: library: gherkin
