Repository cucumber/common, pull requests merged in 2019-07, with the labels that each got.

#573 docker config: Use `md5` rather than `md5sum`
  scripts/functions.sh
Labels: type: build

#581 cucumber-expressions: Simplify java heuristic
  cucumber-expressions/java/heuristics.adoc
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ExpressionFactory.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ExpressionFactoryTest.java
Labels: language: java, library: cucumber-expressions

#621 Adding Rule keyword translation in portuguese and spanish
  gherkin/gherkin-languages.json
Labels: library: gherkin

#597 Gherkin javascript dialect support
  gherkin/CHANGELOG.md
  gherkin/javascript/src/index.ts
  gherkin/javascript/test/GherkinTest.ts
Labels: language: javascript, library: gherkin
