Repository cucumber/common, pull requests merged in 2019-08, with the labels that each got.

#622 Allow google-protobuf 3.8
  cucumber-messages/ruby/Gemfile
  cucumber-messages/ruby/cucumber-messages.gemspec
Labels: language: ruby, type: build

#540 datatable: Improve handling of tables withouth header
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableTypeRegistryTableConverter.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/UndefinedDataTableTypeException.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/DataTableTypeRegistryTableConverterTest.java
Labels: Slow Burner, language: java, library: datatables

#670 cucumber/tag-expressions/datatable: Upgrades for Cucumber 5.0.0
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/java/pom.xml
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/AmbiguousParameterTypeException.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Argument.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CaptureGroupTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CombinatorialGeneratedExpressionFactory.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpressionException.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpressionGenerator.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/DefaultPatternCompiler.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/DuplicateTypeNameException.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Expression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ExpressionFactory.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/GeneratedExpression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Group.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/GroupBuilder.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/NumberParser.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ObjectMapperTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterByTypeTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterType.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeMatcher.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeRegistry.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/PatternCompiler.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/RegularExpression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Transformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/TreeRegexp.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/UndefinedParameterTypeException.java
  datatable/CHANGELOG.md
  datatable/java/datatable/pom.xml
  datatable/java/datatable/src/main/java/io/cucumber/datatable/CucumberDataTableException.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTable.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableCellByTypeTransformer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableDiff.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableType.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableTypeRegistry.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableTypeRegistryTableConverter.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DiffTablePrinter.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DiffableRow.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DuplicateTypeException.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/NumberParser.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableCellByTypeTransformer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableCellTransformer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableDiffException.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableDiffer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableEntryByTypeTransformer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableEntryTransformer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TablePrinter.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableRowTransformer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableTransformer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/UndefinedDataTableTypeException.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/DataTableTest.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/DataTableTypeRegistryTableConverterTest.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/DataTableTypeRegistryTest.java
  datatable/java/dependencies/pom.xml
  datatable/java/matchers/pom.xml
  datatable/java/matchers/src/main/java/io/cucumber/datatable/matchers/DataTableHasTheSameRowsAs.java
  datatable/java/pom.xml
  tag-expressions/CHANGELOG.md
  tag-expressions/java/pom.xml
Labels: language: java, library: cucumber-expressions, library: datatables, library: tag-expressions

#644 cucumber-expressions - TreeRegexp: recognize lookaround as non-capturing groups
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/go/cucumber_expression.go
  cucumber-expressions/go/cucumber_expression_test.go
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/TreeRegexp.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/TreeRegexpTest.java
  cucumber-expressions/javascript/src/TreeRegexp.ts
  cucumber-expressions/javascript/test/TreeRegexpTest.ts
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/tree_regexp.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/tree_regexp_spec.rb
Labels: library: cucumber-expressions

#661 cucumber-expressions: Fix suggestions with in-word parameters
  cucumber-expressions/go/cucumber_expression_generator_test.go
  cucumber-expressions/go/parameter_type_matcher.go
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpressionGenerator.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeMatcher.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionGeneratorTest.java
  cucumber-expressions/javascript/src/ParameterTypeMatcher.ts
  cucumber-expressions/javascript/test/CucumberExpressionGeneratorTest.ts
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/cucumber_expression_generator.rb
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/parameter_type_matcher.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/cucumber_expression_generator_spec.rb
Labels: library: cucumber-expressions

#672 cucumber-expressions: Improve decimal number parsing
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/go/cucumber_expression_regexp_test.go
  cucumber-expressions/go/cucumber_expression_test.go
  cucumber-expressions/go/parameter_by_type_transformer_test.go
  cucumber-expressions/go/parameter_type_registry.go
  cucumber-expressions/go/regular_expression_test.go
  cucumber-expressions/java/pom.xml
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/BuiltInParameterTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeRegistry.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionPatternTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/NumberParserTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ParameterTypeRegistryTest.java
  cucumber-expressions/javascript/src/ParameterTypeRegistry.ts
  cucumber-expressions/javascript/test/CucumberExpressionRegExpTest.ts
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/parameter_type_registry.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/cucumber_expression_regexp_spec.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/cucumber_expression_spec.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/regular_expression_spec.rb
Labels: library: cucumber-expressions

#659 cucumber-expressions: Prefer Java type hint over parameter type
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/go/combinatorial_generated_expression_factory_test.go
  cucumber-expressions/go/cucumber_expression_generator_test.go
  cucumber-expressions/go/cucumber_expression_test.go
  cucumber-expressions/go/custom_parameter_type_test.go
  cucumber-expressions/go/parameter_type.go
  cucumber-expressions/go/parameter_type_registry.go
  cucumber-expressions/go/parameter_type_registry_test.go
  cucumber-expressions/go/parameter_type_test.go
  cucumber-expressions/go/regular_expression.go
  cucumber-expressions/go/regular_expression_test.go
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterType.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeRegistry.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/RegularExpression.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/RegularExpressionTest.java
Labels: library: cucumber-expressions

#680 Subrepo sync
  .circleci/config.yml
  Dockerfile
  Makefile
  scripts/functions.sh
Labels: type: build

#673 Take advantage of Java8 language features. Misc cleanup.
  cucumber-expressions/java/pom.xml
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Argument.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/BuiltInParameterTransformer.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpressionGenerator.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/GeneratedExpression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/TreeRegexp.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/BuiltInParameterTransformerTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CombinatorialGeneratedExpressionFactoryTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionGeneratorTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CustomParameterTypeTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/EnumParameterTypeTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ExpressionFactoryTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/GenericParameterTypeTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/NumberParserTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ParameterByTypeTransformerTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ParameterTypeComparatorTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ParameterTypeRegistryTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/PatternCompilerProviderTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/RegularExpressionTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/TreeRegexpTest.java
Labels: language: java, library: cucumber-expressions

#671 gherkin: Update gherkin-c to the current gherkin status
  .circleci/config.yml
  gherkin/Makefile
  gherkin/c/CMakeLists.txt
  gherkin/c/dialect.c.jq
  gherkin/c/include/ast.h
  gherkin/c/include/ast_builder.h
  gherkin/c/include/child_definition.h
  gherkin/c/include/compiler.h
  gherkin/c/include/dialect.h
  gherkin/c/include/doc_string.h
  gherkin/c/include/feature.h
  gherkin/c/include/gherkin_document.h
  gherkin/c/include/gherkin_document_event.h
  gherkin/c/include/pickle.h
  gherkin/c/include/pickle_event.h
  gherkin/c/include/rule.h
  gherkin/c/include/rule_type.h
  gherkin/c/include/scenario.h
  gherkin/c/include/scenario_definition.h
  gherkin/c/include/scenario_outline.h
  gherkin/c/include/token.h
  gherkin/c/include/token_matcher.h
  gherkin/c/src/Makefile
  gherkin/c/src/ast_builder.c
  gherkin/c/src/ast_printer.c
  gherkin/c/src/attachment_event.c
  gherkin/c/src/compiler.c
  gherkin/c/src/dialect.c
  gherkin/c/src/doc_string.c
  gherkin/c/src/feature.c
  gherkin/c/src/file_reader.c
  gherkin/c/src/gherkin_cli.c
  gherkin/c/src/gherkin_document.c
  gherkin/c/src/gherkin_document_event.c
  gherkin/c/src/parser.c
  gherkin/c/src/pickle.c
  gherkin/c/src/pickle_event.c
  gherkin/c/src/pickle_id_creator.c
  gherkin/c/src/pickle_id_creator.h
  gherkin/c/src/pickle_printer.c
  gherkin/c/src/rule.c
  gherkin/c/src/scenario.c
  gherkin/c/src/scenario_outline.c
  gherkin/c/src/source_event.c
  gherkin/c/src/token_formatter_builder.c
  gherkin/c/src/token_matcher.c
  gherkin/c/src/unicode_utilities.c
  gherkin/c/src/unicode_utilities.h
Labels: language: c, library: gherkin

#668 [release process] Do not try to push old releases of packages
  .templates/dotnet/default.mk
  .templates/ruby/default.mk
  c21e/ruby/default.mk
  cucumber-expressions/ruby/default.mk
  cucumber-messages/dotnet/default.mk
  cucumber-messages/ruby/default.mk
  dots-formatter/ruby/default.mk
  gherkin/ruby/default.mk
  tag-expressions/ruby/default.mk
Labels: type: build

#655 Automate post release
  .templates/default.mk
  .templates/dotnet/default.mk
  .templates/go/default.mk
  .templates/java/default.mk
  .templates/java/scripts/post-release.sh
  .templates/javascript/default.mk
  .templates/python/default.mk
  .templates/ruby/default.mk
  RELEASE_PROCESS.md
  c21e/default.mk
  c21e/java/default.mk
  c21e/java/scripts/post-release.sh
  c21e/javascript/default.mk
  c21e/ruby/default.mk
  config/default.mk
  config/java/default.mk
  config/java/scripts/post-release.sh
  cucumber-expressions/default.mk
  cucumber-expressions/go/default.mk
  cucumber-expressions/java/default.mk
  cucumber-expressions/java/pom.xml
  cucumber-expressions/java/scripts/post-release.sh
  cucumber-expressions/javascript/default.mk
  cucumber-expressions/ruby/default.mk
  cucumber-messages/default.mk
  cucumber-messages/dotnet/default.mk
  cucumber-messages/go/default.mk
  cucumber-messages/java/default.mk
  cucumber-messages/java/scripts/post-release.sh
  cucumber-messages/javascript/default.mk
  cucumber-messages/ruby/default.mk
  datatable/default.mk
  datatable/java/default.mk
  datatable/java/scripts/post-release.sh
  dots-formatter/default.mk
  dots-formatter/go/default.mk
  dots-formatter/ruby/default.mk
  gherkin/default.mk
  gherkin/go/default.mk
  gherkin/java/default.mk
  gherkin/java/scripts/post-release.sh
  gherkin/javascript/default.mk
  gherkin/ruby/default.mk
  pretty-formatter/go/default.mk
  scripts/post_release_update_changelog.sh
  tag-expressions/default.mk
  tag-expressions/go/default.mk
  tag-expressions/java/default.mk
  tag-expressions/java/scripts/post-release.sh
  tag-expressions/javascript/default.mk
  tag-expressions/python/default.mk
  tag-expressions/ruby/default.mk
Labels: type: build

#687 gherkin-c: Fix update-version make rule. Sync the VERSION file
  .templates/c/default.mk
  gherkin/c/VERSION
  gherkin/c/default.mk
Labels: language: c, library: gherkin, type: build
