Repository cucumber/common, pull requests merged in 2019-11, with the labels that each got.

#744 Update docker hacking information
  HACKING.md
Labels: type: build, type: docs

#722 cucumber-messages: support retry
  cucumber-messages/dotnet/messages.proto
  cucumber-messages/go/messages.pb.go
  cucumber-messages/go/messages.proto
  cucumber-messages/java/messages.proto
  cucumber-messages/javascript/messages.proto
  cucumber-messages/messages.proto
  cucumber-messages/ruby/messages.proto
  cucumber-react/javascript/src/makeGherkinDocumentsAndResultsLookup.ts
  cucumber-react/javascript/src/makeResultsLookup.ts
  cucumber-react/javascript/test/resultsLookupTest.ts
  fake-cucumber/javascript/package.json
  fake-cucumber/javascript/src/FakeTestResultsStream.ts
  json-formatter/go/json.go
Labels: library: cucumber-messages

#788 Handle doc strings in JSON-formatter
  json-formatter/CHANGELOG.md
  json-formatter/go/json.go
  json-formatter/ruby/features/step_definitions/steps.rb
  json-formatter/ruby/features/test_datatable.feature
  json-formatter/ruby/features/test_doc_strings.feature
  json-formatter/ruby/features/test_tag.feature
Labels: json-formatter, type: bug

#792 Package cucumber-expressions with Webpack
  cucumber-expressions/javascript/package.json
  cucumber-expressions/javascript/src/ParameterTypeMatcher.ts
  cucumber-expressions/javascript/src/ParameterTypeRegistry.ts
  cucumber-expressions/javascript/src/web.ts
  cucumber-expressions/javascript/test/CucumberExpressionGeneratorTest.ts
  cucumber-expressions/javascript/test/CucumberExpressionTest.ts
  cucumber-expressions/javascript/test/TreeRegexpTest.ts
  cucumber-expressions/javascript/webpack.config.js
Labels: language: javascript, library: cucumber-expressions, type: build

#795 Update dependencies
  cucumber-demo-formatter/go/cucumber_demo_formatter.go
  cucumber-demo-formatter/go/cucumber_demo_formatter_test.go
  cucumber-demo-formatter/go/go.mod
  cucumber-demo-formatter/go/go.sum
  cucumber-demo-formatter/ruby/cucumber-demo-formatter.gemspec
  cucumber-expressions/go/go.sum
  cucumber-query/javascript/package.json
  cucumber-react/javascript/package.json
  fake-cucumber/javascript/package.json
  gherkin/go/astbuilder.go
  gherkin/go/gherkin.go
  gherkin/go/go.mod
  gherkin/go/go.sum
  gherkin/go/messages.go
  gherkin/go/messages_test.go
  gherkin/go/pickles.go
  gherkin/java/pom.xml
  gherkin/javascript/package.json
  gherkin/ruby/gherkin.gemspec
  html-formatter/javascript/package.json
  json-formatter/go/go.mod
  json-formatter/go/go.sum
  json-formatter/go/json.go
  json-formatter/go/message_lookup.go
  pretty-formatter/go/go.mod
  pretty-formatter/go/pretty.go
  pretty-formatter/go/pretty_test.go
  tag-expressions/go/go.sum
Labels: type: build

#799 NDJSON: Print enum values as strings
  c21e/javascript/package.json
  cucumber-expressions/javascript/package.json
  cucumber-messages/javascript/package.json
  cucumber-messages/javascript/src/ProtobufNdjsonStream.ts
  cucumber-messages/javascript/test/ProtobufNdjsonStreamTest.ts
  cucumber-query/javascript/package.json
  cucumber-react/javascript/package.json
  cucumber-react/javascript/src/components/gherkin/GherkinDocument.tsx
  fake-cucumber/javascript/package.json
  gherkin/go/messages.go
  gherkin/javascript/package.json
  gherkin/javascript/src/AstBuilder.ts
  gherkin/javascript/src/Errors.ts
  gherkin/javascript/src/TokenScanner.ts
  gherkin/javascript/src/cli/createLocation.ts
  gherkin/javascript/src/pickles/compile.ts
  gherkin/javascript/src/stream/generateMessages.ts
  gherkin/javascript/test/ParserTest.ts
  html-formatter/javascript/package.json
  tag-expressions/javascript/package.json
Labels: library: cucumber-messages

#798 Run tslint --fix on all TypeScript code as part of build
  .templates/javascript/default.mk
  c21e/javascript/default.mk
  c21e/javascript/package.json
  cucumber-expressions/javascript/default.mk
  cucumber-expressions/javascript/package.json
  cucumber-messages/javascript/default.mk
  cucumber-messages/javascript/package.json
  cucumber-query/javascript/default.mk
  cucumber-query/javascript/package.json
  cucumber-react/javascript/default.mk
  cucumber-react/javascript/package.json
  cucumber-react/javascript/src/components/gherkin/statusColor.ts
  cucumber-react/javascript/testdata/all.bin
  cucumber-react/javascript/testdata/all.json
  cucumber-react/javascript/testdata/escaped_pipes.json
  cucumber-react/javascript/testdata/rules.json
  cucumber-react/javascript/testdata/statuses.json
  cucumber-react/javascript/testdata/test.json
  fake-cucumber/javascript/default.mk
  fake-cucumber/javascript/package.json
  fake-cucumber/javascript/src/FakeTestResultsStream.ts
  fake-cucumber/javascript/test/FakeTestResultsStreamTest.ts
  gherkin/go/go.sum
  gherkin/javascript/default.mk
  gherkin/javascript/package.json
  gherkin/javascript/src/external/GherkinExe.ts
  html-formatter/javascript/default.mk
  html-formatter/javascript/package.json
  html-formatter/javascript/test/dummy_test.ts
  json-formatter/javascript/default.mk
  json-formatter/javascript/package.json
  tag-expressions/javascript/default.mk
  tag-expressions/javascript/package.json
Labels: language: javascript, type: build

#805 Only look up pickle step if test step has pickleStepId
  cucumber-query/javascript/src/CucumberQuery.ts
Labels: language: javascript, library: cucumber-query

#801 Generate more realistic TestResult data in fake-cucumber
  cucumber-react/javascript/testdata/all.bin
  cucumber-react/javascript/testdata/all.json
  cucumber-react/javascript/testdata/escaped_pipes.json
  cucumber-react/javascript/testdata/rules.json
  cucumber-react/javascript/testdata/statuses.json
  cucumber-react/javascript/testdata/test.json
  fake-cucumber/CHANGELOG.md
  fake-cucumber/javascript/src/ExpressionStepDefinition.ts
  fake-cucumber/javascript/src/SupportCodeExecutor.ts
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/durationBetween.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/TestHelpers.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  fake-cucumber/javascript/test/durationBetweenTest.ts
  json-formatter/go/json.go
Labels: language: javascript, library: fake-cucumber, type: enhancement

#803 Fake cucumber: handle hooks
  .circleci/config.yml
  cucumber-query/javascript/test/CucumberQueryTest.ts
  cucumber-react/javascript/test/acceptanceTests.tsx
  cucumber-react/javascript/testdata/all.bin
  cucumber-react/javascript/testdata/all.json
  cucumber-react/javascript/testdata/escaped_pipes.json
  cucumber-react/javascript/testdata/rules.json
  cucumber-react/javascript/testdata/statuses.json
  cucumber-react/javascript/testdata/test.json
  fake-cucumber/CHANGELOG.md
  fake-cucumber/javascript/.internal-dependencies
  fake-cucumber/javascript/Makefile
  fake-cucumber/javascript/features/.gitignore
  fake-cucumber/javascript/features/hooks.feature
  fake-cucumber/javascript/package.json
  fake-cucumber/javascript/src/Cucumber.ts
  fake-cucumber/javascript/src/CucumberStream.ts
  fake-cucumber/javascript/src/ExpressionStepDefinition.ts
  fake-cucumber/javascript/src/Hook.ts
  fake-cucumber/javascript/src/HookTestStep.ts
  fake-cucumber/javascript/src/IHook.ts
  fake-cucumber/javascript/src/ITestStep.ts
  fake-cucumber/javascript/src/PickleTestStep.ts
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestPlan.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/cli.ts
  fake-cucumber/javascript/src/index.ts
  fake-cucumber/javascript/src/makeDummyHooks.ts
  fake-cucumber/javascript/src/makePickleTestStep.ts
  fake-cucumber/javascript/src/makeTestCase.ts
  fake-cucumber/javascript/src/types.ts
  fake-cucumber/javascript/test/CucumberTest.ts
  fake-cucumber/javascript/test/HookTest.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  fake-cucumber/javascript/test/makeTestCaseTest.ts
Labels: language: javascript, library: fake-cucumber

#811 Improve Cucumber-Query. Update dependencies
  c21e/javascript/package.json
  cucumber-demo-formatter/go/go.mod
  cucumber-demo-formatter/go/go.sum
  cucumber-expressions/javascript/package.json
  cucumber-messages/java/pom.xml
  cucumber-messages/javascript/package.json
  cucumber-query/javascript/package.json
  cucumber-query/javascript/src/CucumberQuery.ts
  cucumber-react/javascript/package.json
  fake-cucumber/javascript/package.json
  fake-cucumber/javascript/test/CucumberTest.ts
  gherkin/go/go.mod
  gherkin/go/go.sum
  gherkin/javascript/package.json
  html-formatter/javascript/package.json
  json-formatter/go/go.mod
  json-formatter/go/go.sum
  tag-expressions/javascript/package.json
Labels: library: cucumber-query
