Repository cucumber/common, pull requests merged in 2019-10, with the labels that each got.

#719 Do not update dependencies with non-final versions
  .templates/java/default.mk
  .templates/java/maven-versions-rules.xml
  c21e/java/default.mk
  c21e/java/maven-versions-rules.xml
  config/java/default.mk
  config/java/maven-versions-rules.xml
  cucumber-expressions/java/default.mk
  cucumber-expressions/java/maven-versions-rules.xml
  cucumber-messages/java/default.mk
  cucumber-messages/java/maven-versions-rules.xml
  datatable/java/datatable/pom.xml
  datatable/java/default.mk
  datatable/java/maven-versions-rules.xml
  datatable/java/pom.xml
  gherkin/java/default.mk
  gherkin/java/maven-versions-rules.xml
  tag-expressions/java/default.mk
  tag-expressions/java/maven-versions-rules.xml
Labels: language: java

#727 Update dependencies after release cucumber-message 6.0.1
  c21e/javascript/package.json
  cucumber-expressions/go/go.mod
  cucumber-expressions/go/go.sum
  cucumber-expressions/java/pom.xml
  cucumber-expressions/javascript/package.json
  cucumber-react/javascript/package.json
  dots-formatter/go/go.mod
  dots-formatter/go/go.sum
  dots-formatter/ruby/cucumber-formatter-dots.gemspec
  fake-cucumber/javascript/package.json
  gherkin/go/go.sum
  gherkin/java/pom.xml
  gherkin/javascript/package.json
  gherkin/ruby/gherkin.gemspec
  html-formatter/javascript/package.json
  json-formatter/go/go.sum
  tag-expressions/go/go.mod
  tag-expressions/go/go.sum
  tag-expressions/javascript/package.json
Labels: type: build

#732 cucumber-expressions: support node 8
  .circleci/config.yml
  cucumber-expressions/javascript/package.json
  cucumber-expressions/javascript/src/ParameterTypeMatcher.ts
Labels: language: javascript, library: cucumber-expressions

#729 i18n: Nepali translation🇳🇵
  gherkin/gherkin-languages.json
Labels: library: gherkin

#731 i18n: Marathi translation
  gherkin/gherkin-languages.json
Labels: library: gherkin

#723 gherkin: js external expose stderr
  gherkin/javascript/src/external/GherkinExe.ts
Labels: language: javascript, library: gherkin

#724 c21e: js fix for win-ia32
  c21e/javascript/src/ExeFile.ts
  c21e/javascript/test/ExeFileTest.ts
Labels: language: javascript, library: c21e

#748 tag-expressions-go: Refactor tests
  tag-expressions/go/parser_test.go
Labels: library: tag-expressions

#747 datatable: Remove datatable-dependencies jar
  cucumber-messages/java/pom.xml
  datatable/java/datatable/pom.xml
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TableDiffer.java
  datatable/java/dependencies/pom.xml
  datatable/java/pom.xml
Labels: language: java, library: datatables

#737 Simplify go releases
  .templates/c/default.mk
  .templates/default.mk
  .templates/dotnet/default.mk
  .templates/go/default.mk
  .templates/java/default.mk
  .templates/javascript/default.mk
  .templates/python/default.mk
  .templates/ruby/default.mk
  RELEASE_PROCESS.md
  c21e/default.mk
  c21e/java/default.mk
  c21e/javascript/default.mk
  c21e/ruby/default.mk
  config/default.mk
  config/java/default.mk
  cucumber-expressions/default.mk
  cucumber-expressions/go/default.mk
  cucumber-expressions/java/default.mk
  cucumber-expressions/javascript/default.mk
  cucumber-expressions/ruby/default.mk
  cucumber-messages/default.mk
  cucumber-messages/dotnet/default.mk
  cucumber-messages/go/default.mk
  cucumber-messages/java/default.mk
  cucumber-messages/javascript/default.mk
  cucumber-messages/ruby/default.mk
  cucumber-react/default.mk
  cucumber-react/javascript/default.mk
  datatable/default.mk
  datatable/java/default.mk
  dots-formatter/default.mk
  dots-formatter/go/default.mk
  dots-formatter/ruby/default.mk
  fake-cucumber/default.mk
  fake-cucumber/javascript/default.mk
  gherkin/c/default.mk
  gherkin/default.mk
  gherkin/go/default.mk
  gherkin/java/default.mk
  gherkin/javascript/default.mk
  gherkin/ruby/default.mk
  gherkin/ruby/gherkin.gemspec
  html-formatter/default.mk
  html-formatter/javascript/default.mk
  json-formatter/default.mk
  json-formatter/go/default.mk
  json-formatter/javascript/default.mk
  json-formatter/ruby/default.mk
  pretty-formatter/go/default.mk
  scripts/functions.sh
  tag-expressions/default.mk
  tag-expressions/go/default.mk
  tag-expressions/java/default.mk
  tag-expressions/javascript/default.mk
  tag-expressions/python/default.mk
  tag-expressions/ruby/default.mk
Labels: language: go, type: build

#718 Enable nightly builds on CircleCI
  .circleci/config.yml
Labels: type: build

#758 Better Marathi translation
  gherkin/ruby/lib/gherkin/gherkin-languages.json
Labels: library: gherkin

#754 cucumber-expressions: fix captured empty strings being undefined
  cucumber-expressions/go/cucumber_expression_test.go
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionTest.java
  cucumber-expressions/javascript/src/Group.ts
  cucumber-expressions/javascript/src/ParameterTypeRegistry.ts
  cucumber-expressions/javascript/test/CucumberExpressionTest.ts
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/cucumber_expression_spec.rb
Labels: library: cucumber-expressions

#749 tag-expressions-go: Refactor tokenize function
  tag-expressions/go/parser.go
Labels: library: tag-expressions

#766 cucumber-html-formatter docker image
  .templates/javascript/default.mk
  RELEASE_PROCESS.md
  c21e/javascript/default.mk
  cucumber-expressions/javascript/default.mk
  cucumber-messages/javascript/default.mk
  cucumber-react/javascript/default.mk
  fake-cucumber/javascript/default.mk
  gherkin/javascript/default.mk
  html-formatter/javascript/.subrepo
  html-formatter/javascript/Dockerfile
  html-formatter/javascript/default.mk
  html-formatter/javascript/package.json
  html-formatter/javascript/src/cli-main.tsx
  json-formatter/javascript/default.mk
  scripts/functions.sh
  secrets/.bash_profile
  tag-expressions/javascript/default.mk
Labels: library: html-formatter, type: build

#777 gherkin: Add acceptance test that fails on Ruby 2.4
  .circleci/config.yml
  gherkin/CHANGELOG.md
  gherkin/c/testdata/good/rule_without_name_and_description.feature
  gherkin/c/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/c/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/c/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/c/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/dotnet/testdata/good/rule_without_name_and_description.feature
  gherkin/dotnet/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/dotnet/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/dotnet/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/dotnet/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/go/testdata/good/rule_without_name_and_description.feature
  gherkin/go/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/go/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/go/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/go/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/java/testdata/good/rule_without_name_and_description.feature
  gherkin/java/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/java/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/java/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/java/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/javascript/testdata/good/rule_without_name_and_description.feature
  gherkin/javascript/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/javascript/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/javascript/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/javascript/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/objective-c/testdata/good/rule_without_name_and_description.feature
  gherkin/objective-c/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/objective-c/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/objective-c/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/objective-c/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/perl/testdata/good/rule_without_name_and_description.feature
  gherkin/perl/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/perl/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/perl/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/perl/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/python/testdata/good/rule_without_name_and_description.feature
  gherkin/python/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/python/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/python/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/python/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/ruby/Gemfile
  gherkin/ruby/lib/gherkin/ast_builder.rb
  gherkin/ruby/testdata/good/rule_without_name_and_description.feature
  gherkin/ruby/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/ruby/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/ruby/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/ruby/testdata/good/rule_without_name_and_description.feature.tokens
  gherkin/testdata/good/rule_without_name_and_description.feature
  gherkin/testdata/good/rule_without_name_and_description.feature.ast.ndjson
  gherkin/testdata/good/rule_without_name_and_description.feature.pickles.ndjson
  gherkin/testdata/good/rule_without_name_and_description.feature.source.ndjson
  gherkin/testdata/good/rule_without_name_and_description.feature.tokens
Labels: language: ruby, library: gherkin, type: bug

#776 tag-expressions-go: Slice rune to string conversion is expensive
  tag-expressions/go/parser.go
Labels: library: tag-expressions

#780 Release process: do not try to add replace in go.mod when there is no need (see #774)
  .templates/go/default.mk
  cucumber-expressions/go/default.mk
  cucumber-messages/go/default.mk
  dots-formatter/go/default.mk
  gherkin/go/default.mk
  json-formatter/go/default.mk
  pretty-formatter/go/default.mk
  tag-expressions/go/default.mk
Labels: type: build
