Repository cucumber/common, pull requests merged in 2019-09, with the labels that each got.

#649 Improve Docker Hacking / Documentation
  HACKING.md
Labels: type: build, type: docs

#703 Trim trailing space in example cells
  gherkin/Makefile
  gherkin/c/testdata/good/padded_example.feature
  gherkin/c/testdata/good/padded_example.feature.ast.ndjson
  gherkin/c/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/c/testdata/good/padded_example.feature.source.ndjson
  gherkin/c/testdata/good/padded_example.feature.tokens
  gherkin/dotnet/testdata/good/padded_example.feature
  gherkin/dotnet/testdata/good/padded_example.feature.ast.ndjson
  gherkin/dotnet/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/dotnet/testdata/good/padded_example.feature.source.ndjson
  gherkin/dotnet/testdata/good/padded_example.feature.tokens
  gherkin/go/Makefile
  gherkin/go/go.mod
  gherkin/go/matcher.go
  gherkin/go/pickles_test.go
  gherkin/go/testdata/good/padded_example.feature
  gherkin/go/testdata/good/padded_example.feature.ast.ndjson
  gherkin/go/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/go/testdata/good/padded_example.feature.source.ndjson
  gherkin/go/testdata/good/padded_example.feature.tokens
  gherkin/java/testdata/good/padded_example.feature
  gherkin/java/testdata/good/padded_example.feature.ast.ndjson
  gherkin/java/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/java/testdata/good/padded_example.feature.source.ndjson
  gherkin/java/testdata/good/padded_example.feature.tokens
  gherkin/javascript/testdata/good/padded_example.feature
  gherkin/javascript/testdata/good/padded_example.feature.ast.ndjson
  gherkin/javascript/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/javascript/testdata/good/padded_example.feature.source.ndjson
  gherkin/javascript/testdata/good/padded_example.feature.tokens
  gherkin/objective-c/testdata/good/padded_example.feature
  gherkin/objective-c/testdata/good/padded_example.feature.ast.ndjson
  gherkin/objective-c/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/objective-c/testdata/good/padded_example.feature.source.ndjson
  gherkin/objective-c/testdata/good/padded_example.feature.tokens
  gherkin/perl/testdata/good/padded_example.feature
  gherkin/perl/testdata/good/padded_example.feature.ast.ndjson
  gherkin/perl/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/perl/testdata/good/padded_example.feature.source.ndjson
  gherkin/perl/testdata/good/padded_example.feature.tokens
  gherkin/python/testdata/good/padded_example.feature
  gherkin/python/testdata/good/padded_example.feature.ast.ndjson
  gherkin/python/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/python/testdata/good/padded_example.feature.source.ndjson
  gherkin/python/testdata/good/padded_example.feature.tokens
  gherkin/ruby/testdata/good/padded_example.feature
  gherkin/ruby/testdata/good/padded_example.feature.ast.ndjson
  gherkin/ruby/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/ruby/testdata/good/padded_example.feature.source.ndjson
  gherkin/ruby/testdata/good/padded_example.feature.tokens
  gherkin/testdata/good/padded_example.feature
  gherkin/testdata/good/padded_example.feature.ast.ndjson
  gherkin/testdata/good/padded_example.feature.pickles.ndjson
  gherkin/testdata/good/padded_example.feature.source.ndjson
  gherkin/testdata/good/padded_example.feature.tokens
Labels: language: c, language: go, library: gherkin

#700 React step parameters
  .circleci/config.yml
  .templates/javascript/test/mocha.opts
  c21e/javascript/test/mocha.opts
  cucumber-expressions/javascript/test/mocha.opts
  cucumber-messages/javascript/test/mocha.opts
  cucumber-react/javascript/src/ResultsLookupByLineContext.ts
  cucumber-react/javascript/src/StepMatchLookupByLineContext.ts
  cucumber-react/javascript/src/StepMatchLookupContext.ts
  cucumber-react/javascript/src/components/app/App.tsx
  cucumber-react/javascript/src/components/gherkin/Background.tsx
  cucumber-react/javascript/src/components/gherkin/Examples.tsx
  cucumber-react/javascript/src/components/gherkin/Feature.tsx
  cucumber-react/javascript/src/components/gherkin/Rule.tsx
  cucumber-react/javascript/src/components/gherkin/Scenario.tsx
  cucumber-react/javascript/src/components/gherkin/Step.tsx
  cucumber-react/javascript/src/components/gherkin/html.tsx
  cucumber-react/javascript/src/makeGherkinDocumentsAndResultsLookup.ts
  cucumber-react/javascript/src/makeResultsLookup.ts
  cucumber-react/javascript/src/makeStepMatchLookup.ts
  cucumber-react/javascript/src/types.ts
  cucumber-react/javascript/stories/index.stories.tsx
  cucumber-react/javascript/test/StepTest.tsx
  cucumber-react/javascript/test/acceptanceTests.tsx
  cucumber-react/javascript/test/mocha.opts
  fake-cucumber/javascript/src/FakeTestResultsStream.ts
  fake-cucumber/javascript/test/FakeTestResultsStreamTest.ts
  fake-cucumber/javascript/test/mocha.opts
  gherkin/javascript/test/mocha.opts
  html-formatter/javascript/src/cli-main.tsx
  html-formatter/javascript/src/main.tsx
  html-formatter/javascript/test/mocha.opts
  json-formatter/go/.internal-dependencies
  json-formatter/javascript/test/mocha.opts
  tag-expressions/javascript/test/mocha.opts
Labels: library: cucumber-react, type: enhancement

#702 gherkin-ruby: Revert the native ruby parser for gherkin
  .circleci/config.yml
  gherkin/CHANGELOG.md
  gherkin/c/testdata/good/padded_example.feature.ast.ndjson
  gherkin/c/testdata/good/padded_example.feature.tokens
  gherkin/dotnet/testdata/good/padded_example.feature.ast.ndjson
  gherkin/dotnet/testdata/good/padded_example.feature.tokens
  gherkin/go/matcher.go
  gherkin/go/testdata/good/padded_example.feature.ast.ndjson
  gherkin/go/testdata/good/padded_example.feature.tokens
  gherkin/java/testdata/good/padded_example.feature.ast.ndjson
  gherkin/java/testdata/good/padded_example.feature.tokens
  gherkin/javascript/testdata/good/padded_example.feature.ast.ndjson
  gherkin/javascript/testdata/good/padded_example.feature.tokens
  gherkin/objective-c/testdata/good/padded_example.feature.ast.ndjson
  gherkin/objective-c/testdata/good/padded_example.feature.tokens
  gherkin/perl/testdata/good/padded_example.feature.ast.ndjson
  gherkin/perl/testdata/good/padded_example.feature.tokens
  gherkin/python/testdata/good/padded_example.feature.ast.ndjson
  gherkin/python/testdata/good/padded_example.feature.tokens
  gherkin/ruby/.rsync
  gherkin/ruby/Gemfile
  gherkin/ruby/Makefile
  gherkin/ruby/berp/CommandLine.dll
  gherkin/ruby/berp/RazorEngine.dll
  gherkin/ruby/berp/RazorEngine.pdb
  gherkin/ruby/berp/System.Web.Razor.dll
  gherkin/ruby/berp/berp.exe
  gherkin/ruby/berp/berp.pdb
  gherkin/ruby/bin/gherkin
  gherkin/ruby/bin/gherkin-generate-tokens
  gherkin/ruby/gherkin-ruby.razor
  gherkin/ruby/gherkin.berp
  gherkin/ruby/gherkin.gemspec
  gherkin/ruby/lib/gherkin/ast_builder.rb
  gherkin/ruby/lib/gherkin/ast_node.rb
  gherkin/ruby/lib/gherkin/dialect.rb
  gherkin/ruby/lib/gherkin/errors.rb
  gherkin/ruby/lib/gherkin/exe_file_path.rb
  gherkin/ruby/lib/gherkin/gherkin-languages.json
  gherkin/ruby/lib/gherkin/gherkin.rb
  gherkin/ruby/lib/gherkin/gherkin_line.rb
  gherkin/ruby/lib/gherkin/messages/parser_cucumber_messages.rb
  gherkin/ruby/lib/gherkin/messages/protobuf_cucumber_messages.rb
  gherkin/ruby/lib/gherkin/messages/subprocess_cucumber_messages.rb
  gherkin/ruby/lib/gherkin/parser.rb
  gherkin/ruby/lib/gherkin/pickles/compiler.rb
  gherkin/ruby/lib/gherkin/token.rb
  gherkin/ruby/lib/gherkin/token_formatter_builder.rb
  gherkin/ruby/lib/gherkin/token_matcher.rb
  gherkin/ruby/lib/gherkin/token_scanner.rb
  gherkin/ruby/spec/gherkin/gherkin_spec.rb
  gherkin/ruby/spec/gherkin/messages/subprocess_cucumber_messages_spec.rb
  gherkin/ruby/testdata/good/padded_example.feature.ast.ndjson
  gherkin/ruby/testdata/good/padded_example.feature.tokens
  gherkin/testdata/good/padded_example.feature.ast.ndjson
  gherkin/testdata/good/padded_example.feature.tokens
Labels: language: ruby, library: gherkin

#708 Improved German keywords
  gherkin/gherkin-languages.json
Labels: library: gherkin

#706 Use our own timestamp and duration message
  .circleci/config.yml
  Dockerfile
  cucumber-messages/CHANGELOG.md
  cucumber-messages/dotnet/messages.proto
  cucumber-messages/go/Makefile
  cucumber-messages/go/go.sum
  cucumber-messages/go/messages.pb.go
  cucumber-messages/go/messages.proto
  cucumber-messages/java/messages.proto
  cucumber-messages/javascript/messages.proto
  cucumber-messages/messages.md
  cucumber-messages/messages.proto
  cucumber-messages/ruby/messages.proto
  cucumber-react/javascript/src/makeResultsLookup.ts
  fake-cucumber/CHANGELOG.md
  fake-cucumber/javascript/src/FakeTestResultsStream.ts
  gherkin/go/go.sum
  json-formatter/go/go.sum
  json-formatter/go/json.go
Labels: library: cucumber-messages

#695 gherkin-perl: Add Perl infrastructure to the CI docker images
  Dockerfile
  gherkin/perl/Makefile
Labels: language: perl, library: gherkin
