Repository cucumber/common, pull requests merged in 2019-12, with the labels that each got.

#814 add test step keys to attachment message
  cucumber-messages/CHANGELOG.md
  cucumber-messages/dotnet/messages.proto
  cucumber-messages/go/messages.pb.go
  cucumber-messages/go/messages.proto
  cucumber-messages/java/messages.proto
  cucumber-messages/java/src/main/java/io/cucumber/messages/Messages.java
  cucumber-messages/javascript/messages.proto
  cucumber-messages/messages.md
  cucumber-messages/messages.monopic
  cucumber-messages/messages.png
  cucumber-messages/messages.proto
  cucumber-messages/ruby/messages.proto
Labels: library: cucumber-messages

#815 messages: Add time conversion and rename stream classes
  cucumber-demo-formatter/ruby/bin/cucumber-demo-formatter
  cucumber-demo-formatter/ruby/spec/cucumber_demo_formatter_spec.rb
  cucumber-messages/CHANGELOG.md
  cucumber-messages/README.md
  cucumber-messages/go/time_conversion.go
  cucumber-messages/go/time_conversion_test.go
  cucumber-messages/java/src/main/java/io/cucumber/messages/MessageToBinaryWriter.java
  cucumber-messages/java/src/main/java/io/cucumber/messages/MessageToNdjsonWriter.java
  cucumber-messages/java/src/main/java/io/cucumber/messages/TimeConversion.java
  cucumber-messages/java/src/test/java/io/cucumber/messages/NdjsonSerializationTest.java
  cucumber-messages/java/src/test/java/io/cucumber/messages/ProtobufSerializationTest.java
  cucumber-messages/java/src/test/java/io/cucumber/messages/TimeConversionTest.java
  cucumber-messages/javascript/src/TimeConversion.ts
  cucumber-messages/javascript/src/index.ts
  cucumber-messages/javascript/test/TimeConversionTest.ts
  cucumber-messages/ruby/lib/cucumber/messages.rb
  cucumber-messages/ruby/lib/cucumber/messages/binary_to_message_enumerator.rb
  cucumber-messages/ruby/lib/cucumber/messages/ndjson_to_message_enumerator.rb
  cucumber-messages/ruby/lib/cucumber/messages/time_conversion.rb
  cucumber-messages/ruby/spec/cucumber/messages/ndjson_serialization_spec.rb
  cucumber-messages/ruby/spec/cucumber/messages/protobuf_serialization_spec.rb
  cucumber-messages/ruby/spec/cucumber/messages/time_conversion_spec.rb
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/durationBetween.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/durationBetweenTest.ts
  gherkin/java/src/main/java/io/cucumber/gherkin/Main.java
  gherkin/ruby/bin/gherkin
  gherkin/ruby/lib/gherkin/stream/subprocess_message_stream.rb
  json-formatter/go/json.go
Labels: library: cucumber-messages

#810 json-formatter: handle hooks
  json-formatter/go/go.mod
  json-formatter/go/go.sum
  json-formatter/go/go_suite_test.go
  json-formatter/go/json.go
  json-formatter/go/json_elements.go
  json-formatter/go/message_lookup.go
  json-formatter/go/test_case.go
  json-formatter/go/test_case_test.go
  json-formatter/go/test_helpers.go
  json-formatter/go/test_step.go
  json-formatter/go/test_step_test.go
  json-formatter/ruby/features/step_definitions/hooks.rb
  json-formatter/ruby/features/test_basic.feature
  json-formatter/ruby/features/test_examples.feature
  json-formatter/ruby/features/test_hooks.feature
  json-formatter/ruby/features/test_simple.feature
  json-formatter/ruby/neutralize-json
Labels: json-formatter, language: go

#817 Json formatter attachments
  fake-cucumber/javascript/src/ITestStep.ts
  fake-cucumber/javascript/src/IWorld.ts
  fake-cucumber/javascript/src/SupportCodeExecutor.ts
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/makeDummyStepDefinitions.ts
  fake-cucumber/javascript/test/HookTest.ts
  fake-cucumber/javascript/test/StepDefinitionTest.ts
  fake-cucumber/javascript/test/SupportCodeExecutorTest.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  fake-cucumber/javascript/test/TestWorld.ts
  json-formatter/go/json_elements.go
  json-formatter/go/message_lookup.go
  json-formatter/go/test_step.go
  json-formatter/ruby/features/step_definitions/steps.rb
  json-formatter/ruby/features/test_attachment.feature
  json-formatter/ruby/features/test_basic.feature
Labels: json-formatter

#823 StepDefinition.sourceReference should be StepDefinition.source_reference
  cucumber-messages/dotnet/messages.proto
  cucumber-messages/go/messages.proto
  cucumber-messages/java/messages.proto
  cucumber-messages/javascript/messages.proto
  cucumber-messages/messages.proto
  cucumber-messages/ruby/messages.proto
Labels: library: cucumber-messages

#833 Add option to specify the id generator instance to use
  gherkin/ruby/bin/gherkin
  gherkin/ruby/lib/gherkin/stream/parser_message_stream.rb
  gherkin/ruby/spec/gherkin/stream/parser_message_stream_spec.rb
Labels: library: gherkin

#832 cucumber messages: time conversion support partial milliseconds
  cucumber-messages/javascript/src/TimeConversion.ts
  cucumber-messages/javascript/test/TimeConversionTest.ts
  cucumber-messages/javascript/test/verifyStreamContract.ts
Labels: library: cucumber-messages

#835 Output parameter types in message stream
  cucumber-compatibility-kit/javascript/features/attachments/attachments.ndjson
  cucumber-compatibility-kit/javascript/features/parameter-types/parameter-types.feature
  cucumber-compatibility-kit/javascript/features/parameter-types/parameter-types.ndjson
  cucumber-compatibility-kit/javascript/features/parameter-types/parameter-types.ts
  cucumber-compatibility-kit/javascript/features/stack-traces/stack-traces.ndjson
  cucumber-demo-formatter/go/go.mod
  cucumber-demo-formatter/go/go.sum
  cucumber-json-formatter/go/go.mod
  cucumber-json-formatter/go/go.sum
  cucumber-messages/CHANGELOG.md
  cucumber-messages/dotnet/messages.proto
  cucumber-messages/go/messages.pb.go
  cucumber-messages/go/messages.proto
  cucumber-messages/java/messages.proto
  cucumber-messages/javascript/messages.proto
  cucumber-messages/javascript/src/TimeConversion.ts
  cucumber-messages/messages.md
  cucumber-messages/messages.proto
  cucumber-messages/ruby/messages.proto
  cucumber-query/javascript/test/CucumberQueryTest.ts
  cucumber-react/javascript/test/acceptanceTests.tsx
  cucumber-react/javascript/testdata/all.ndjson
  cucumber-react/javascript/testdata/escaped_pipes.ndjson
  cucumber-react/javascript/testdata/rules.ndjson
  cucumber-react/javascript/testdata/statuses.ndjson
  cucumber-react/javascript/testdata/test.ndjson
  fake-cucumber/javascript/src/Cucumber.ts
  fake-cucumber/javascript/src/CucumberStream.ts
  fake-cucumber/javascript/src/SupportCode.ts
  fake-cucumber/javascript/src/cli.ts
  fake-cucumber/javascript/test/CucumberTest.ts
  gherkin/go/go.mod
  gherkin/go/go.sum
Labels: library: cucumber-messages
