Repository cucumber/common, pull requests merged in 2020-05, with the labels that each got.

#984 json-to-messages - emit missing messages
  json-to-messages/javascript/src/jsonToMessages.ts
  json-to-messages/javascript/test/detectImplementationTest.ts
  json-to-messages/javascript/test/gherkinDocumentToSource.ts
  json-to-messages/javascript/test/gherkinDocumentToSourceTest.ts
  json-to-messages/javascript/test/jsonToMessagesTest.ts
Labels: json-to-messages, language: javascript

#974 build: Make build repeatable
  .circleci/config.yml
  .templates/go/.gitignore
  Makefile
  compatibility-kit/README.md
  compatibility-kit/javascript/Makefile
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  cucumber-expressions/go/.gitignore
  demo-formatter/go/.gitignore
  demo-formatter/go/go.mod
  demo-formatter/go/go.sum
  gherkin/go/.gitignore
  gherkin/go/dialects_builtin.go
  json-formatter/go/.gitignore
  messages/go/.gitignore
  react/javascript/testdata/.gitignore
  react/javascript/testdata/all.ndjson
  react/javascript/testdata/escaped_pipes.ndjson
  react/javascript/testdata/parameter_types.ndjson
  react/javascript/testdata/rules.ndjson
  react/javascript/testdata/statuses.ndjson
  react/javascript/testdata/test.ndjson
  tag-expressions/go/.gitignore
Labels: type: build

#975 Display failed hook in React
  query/CHANGELOG.md
  query/javascript/src/Query.ts
  query/javascript/test/QueryTest.ts
  react/javascript/src/components/gherkin/Attachment.tsx
  react/javascript/src/components/gherkin/HookList.tsx
  react/javascript/src/components/gherkin/HookStep.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
  react/javascript/src/components/gherkin/Step.tsx
  react/javascript/src/styles/styles.scss
  react/javascript/stories/index.stories.tsx
  react/javascript/testdata/hooks.feature
  react/javascript/testdata/step_definitions/cucumber-screenshot.png
  react/javascript/testdata/step_definitions/steps.ts
Labels: library: cucumber-react, type: enhancement

#953 React - do not use line number to get Step or Row status
  gherkin/CHANGELOG.md
  gherkin/javascript/src/Query.ts
  gherkin/javascript/test/QueryTest.ts
  query/javascript/test/QueryTest.ts
  react/CHANGELOG.md
  react/javascript/src/components/gherkin/ExamplesTableBody.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
  react/javascript/src/components/gherkin/Step.tsx
Labels: language: javascript, library: cucumber-react, library: gherkin, library: html-formatter

#769 gherkin: Do not trim spaces inside a table cell content
  gherkin/CHANGELOG.md
  gherkin/java/src/test/java/io/cucumber/gherkin/GherkinLineTest.java
  gherkin/javascript/test/GherkinLineTest.ts
  gherkin/ruby/spec/gherkin/gherkin_line_spec.rb
Labels: library: gherkin, type: bug

#1006 cucumber-expressions: Support for Optional
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/java/pom.xml
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/BuiltInParameterTransformer.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/BuiltInParameterTransformerTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ParameterByTypeTransformerTest.java
Labels: language: java, library: cucumber-expressions, type: feature
