Repository cucumber/common, pull requests merged in 2020-12, with the labels that each got.

#1276 Use react-markdown as it is more XSS resilient
  react/CHANGELOG.md
  react/javascript/package.json
  react/javascript/src/components/app/HighLight.tsx
  react/javascript/src/components/gherkin/Description.tsx
  react/javascript/src/components/highlight-words.ts
  react/javascript/test/HighlightTest.tsx
Labels: language: javascript, library: cucumber-react, type: bug

#1260 react: fix display issues with images
  react/CHANGELOG.md
  react/javascript/src/components/gherkin/Attachment.tsx
  react/javascript/src/styles/styles.scss
Labels: library: cucumber-react

#1280 Verify HTML reports with puppeteer
  .circleci/config.yml
  html-formatter/CHANGELOG.md
  html-formatter/java/pom.xml
  html-formatter/javascript/Makefile
  html-formatter/javascript/check.js
  html-formatter/javascript/package.json
  html-formatter/javascript/webpack.config.js
  html-formatter/ruby/VERSION
Labels: language: javascript, library: html-formatter
