Repository cucumber/common, pull requests merged in 2020-11, with the labels that each got.

#1233 Upgrade dependencies for cucumber/react
  react/javascript/package.json
  react/javascript/src/stories/GherkinDocument.stories.tsx
Labels: library: cucumber-react, type: build

#1237 Replace git-url-parse with own simpler implementation
  react/CHANGELOG.md
  react/javascript/package.json
  react/javascript/src/ciCommitLink.ts
  react/javascript/src/components/app/FilteredResults.tsx
  react/javascript/src/toRepositoryId.ts
  react/javascript/test/acceptanceTests.tsx
  react/javascript/test/messageTests.tsx
  react/javascript/test/parseGitUrlTest.ts
Labels: library: cucumber-react

#1242 objective-c: Update project, get code compiling and tests running
  gherkin/objective-c/AstGenerator/NSObject+Dictionary.h
  gherkin/objective-c/Gherkin.xcodeproj/project.pbxproj
  gherkin/objective-c/Gherkin.xcodeproj/xcshareddata/xcschemes/AstGenerator.xcscheme
  gherkin/objective-c/Gherkin.xcodeproj/xcshareddata/xcschemes/GherkinLanguages.xcscheme
  gherkin/objective-c/Gherkin.xcodeproj/xcshareddata/xcschemes/GherkinOSX.xcscheme
  gherkin/objective-c/Gherkin.xcodeproj/xcshareddata/xcschemes/GherkinTestsOSX.xcscheme
  gherkin/objective-c/Gherkin.xcodeproj/xcshareddata/xcschemes/GherkinTestsiOS.xcscheme
  gherkin/objective-c/Gherkin.xcodeproj/xcshareddata/xcschemes/GherkiniOS.xcscheme
  gherkin/objective-c/Gherkin.xcodeproj/xcshareddata/xcschemes/TokensGenerator.xcscheme
  gherkin/objective-c/Gherkin/GHAstBuilder.h
  gherkin/objective-c/Gherkin/GHAstBuilder.m
  gherkin/objective-c/Gherkin/GHGherkinLanguageSetting.h
  gherkin/objective-c/Gherkin/GHParser.m
  gherkin/objective-c/Gherkin/GHTokenScanner.m
  gherkin/objective-c/GherkinTests/GHGherkinTokenizationTest.m
Labels: language: objective-c, library: gherkin, type: build

#1225 Upgrade dependencies
  c21e/javascript/package.json
  c21e/ruby/c21e.gemspec
  compatibility-kit/javascript/package.json
  create-meta/javascript/package.json
  create-meta/ruby/cucumber-create-meta.gemspec
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/javascript/package.json
  cucumber-expressions/javascript/webpack.config.js
  cucumber-expressions/ruby/cucumber-cucumber-expressions.gemspec
  demo-formatter/ruby/cucumber-demo-formatter.gemspec
  gherkin/javascript/package.json
  gherkin/ruby/cucumber-gherkin.gemspec
  html-formatter/CHANGELOG.md
  html-formatter/javascript/Makefile
  html-formatter/javascript/package.json
  html-formatter/javascript/webpack.config.js
  html-formatter/ruby/cucumber-html-formatter.gemspec
  json-formatter/go/go.sum
  json-to-messages/javascript-testdata/package.json
  json-to-messages/javascript/package.json
  query/javascript/package.json
  tag-expressions/javascript/package.json
  tag-expressions/ruby/cucumber-tag-expressions.gemspec
Labels: type: build

#1252 include offending line in error message
  messages/CHANGELOG.md
  messages/go/io/ndjson.go
  messages/go/messages.pb.go
  messages/go/messages_test.go
  messages/java/src/main/java/io/cucumber/messages/NdjsonToMessageIterable.java
  messages/java/src/test/java/io/cucumber/messages/NdjsonSerializationTest.java
  messages/javascript/src/NdjsonToMessageStream.ts
  messages/javascript/test/NdjsonStreamTest.ts
  messages/ruby/lib/cucumber/messages/ndjson_to_message_enumerator.rb
  messages/ruby/spec/cucumber/messages/ndjson_serialization_spec.rb
Labels: language: go, language: java, language: javascript, language: ruby, library: cucumber-messages, type: bug, type: enhancement
