Repository cucumber/common, pull requests merged in 2020-03, with the labels that each got.

#872 Update Indonesian Gherkin Language
  gherkin/c/gherkin-languages.json
  gherkin/dotnet/Gherkin/gherkin-languages.json
  gherkin/gherkin-languages.json
  gherkin/go/dialects_builtin.go
  gherkin/go/gherkin-languages.json
  gherkin/java/src/main/resources/io/cucumber/gherkin/gherkin-languages.json
  gherkin/objective-c/GherkinLanguages/gherkin-languages.json
  gherkin/perl/gherkin-languages.json
  gherkin/python/gherkin/gherkin-languages.json
  gherkin/ruby/lib/gherkin/gherkin-languages.json
Labels: library: gherkin

#920 @cucumber/react - Incremental rendering
  fake-cucumber/javascript/src/Cucumber.ts
  fake-cucumber/javascript/src/CucumberStream.ts
  fake-cucumber/javascript/src/TestPlan.ts
  fake-cucumber/javascript/src/makeTestCase.ts
  fake-cucumber/javascript/test/CucumberTest.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/makeTestCaseTest.ts
  gherkin/CHANGELOG.md
  gherkin/javascript/src/Query.ts
  gherkin/javascript/src/StrictArrayMultimap.ts
  gherkin/javascript/src/StrictMap.ts
  gherkin/javascript/src/index.ts
  gherkin/javascript/test/QueryTest.ts
  html-formatter/javascript/src/cli-main.tsx
  query/CHANGELOG.md
  query/javascript/package.json
  query/javascript/src/Query.ts
  query/javascript/test/QueryTest.ts
  react/javascript/src/components/gherkin/Step.tsx
  react/javascript/testdata/all.ndjson
Labels: library: cucumber-react, type: bug

#909 Cucumber-React: Markdown handling in React component
  react/javascript/package.json
  react/javascript/src/components/gherkin/Description.tsx
Labels: library: cucumber-react

#921 Upgrade dependencies
  c21e/javascript/package.json
  compatibility-kit/javascript/package.json
  config/java/pom.xml
  cucumber-expressions/javascript/package.json
  fake-cucumber/javascript/package.json
  gherkin/javascript/package.json
  html-formatter/javascript/package.json
  messages/javascript/package.json
  query/javascript/package.json
  react/javascript/package.json
  tag-expressions/javascript/package.json
Labels: type: build

#927 Dockerfile: add dependencies for Ruby build
  Dockerfile
Labels: language: ruby, type: build

#928 html-formatter: stream messages rather than buffering
  .templates/javascript/default.mk
  c21e/javascript/default.mk
  compatibility-kit/javascript/default.mk
  cucumber-expressions/javascript/default.mk
  fake-cucumber/javascript/default.mk
  gherkin/javascript/default.mk
  html-formatter/CHANGELOG.md
  html-formatter/Makefile
  html-formatter/javascript/Makefile
  html-formatter/javascript/default.mk
  html-formatter/javascript/package.json
  html-formatter/javascript/src/CucumberHtmlStream.ts
  html-formatter/javascript/src/cli-main.ts
  html-formatter/javascript/src/index.mustache.html
  html-formatter/javascript/test/CucumberHtmlStreamTest.ts
  json-formatter/javascript/default.mk
  messages/javascript/default.mk
  query/javascript/default.mk
  react/javascript/default.mk
  tag-expressions/javascript/default.mk
Labels: language: javascript, library: html-formatter

#907 Run compatibility-kit/ruby during CI process
  .circleci/config.yml
  compatibility-kit/ruby/Gemfile
Labels: language: ruby, type: build

#931 Ruby html-formatter
  .circleci/config.yml
  html-formatter/CHANGELOG.md
  html-formatter/Makefile
  html-formatter/ruby/.gitignore
  html-formatter/ruby/.rspec
  html-formatter/ruby/.rsync
  html-formatter/ruby/.subrepo
  html-formatter/ruby/Gemfile
  html-formatter/ruby/Makefile
  html-formatter/ruby/Rakefile
  html-formatter/ruby/assets/.gitignore
  html-formatter/ruby/bin/cucumber-html-formatter
  html-formatter/ruby/cucumber-html-formatter.gemspec
  html-formatter/ruby/default.mk
  html-formatter/ruby/features/.gitignore
  html-formatter/ruby/lib/cucumber/html_formatter.rb
  html-formatter/ruby/lib/cucumber/html_formatter/assets_loader.rb
  html-formatter/ruby/lib/cucumber/html_formatter/template_writer.rb
  html-formatter/ruby/scripts/update-gemspec
  html-formatter/ruby/spec/capture_warnings.rb
  html-formatter/ruby/spec/html-formatter/assets_loader_spec.rb
  html-formatter/ruby/spec/html-formatter/template_writer_spec.rb
  html-formatter/ruby/spec/html_formatter_spec.rb
Labels: language: ruby, library: html-formatter

#930 Clean up internals of fake-cucumber
  compatibility-kit/javascript/features/parameter-types/parameter-types.ts
  fake-cucumber/javascript/features/README.md
  fake-cucumber/javascript/features/parameter-types.feature
  fake-cucumber/javascript/features/step_definitions.ts
  fake-cucumber/javascript/features/supportCode.ts
  fake-cucumber/javascript/package.json
  fake-cucumber/javascript/src/Cucumber.ts
  fake-cucumber/javascript/src/CucumberStream.ts
  fake-cucumber/javascript/src/GherkinQueryStream.ts
  fake-cucumber/javascript/src/IParameterTypeDefinition.ts
  fake-cucumber/javascript/src/ITestStep.ts
  fake-cucumber/javascript/src/SupportCode.ts
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestPlan.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/cli.ts
  fake-cucumber/javascript/src/dsl.ts
  fake-cucumber/javascript/src/findSupportCodePaths.ts
  fake-cucumber/javascript/src/index.ts
  fake-cucumber/javascript/src/loadSupportCode.ts
  fake-cucumber/javascript/src/makeAttach.ts
  fake-cucumber/javascript/src/makeFormatStream.ts
  fake-cucumber/javascript/src/makeTestPlan.ts
  fake-cucumber/javascript/src/runCucumber.ts
  fake-cucumber/javascript/src/types.ts
  fake-cucumber/javascript/test/CucumberTest.ts
  fake-cucumber/javascript/test/SupportCodeTest.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/TestHelpers.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  fake-cucumber/javascript/test/attachTest.ts
  fake-cucumber/javascript/test/makeDummyHooks.ts
  fake-cucumber/javascript/test/makeDummyStepDefinitions.ts
  fake-cucumber/javascript/test/makeTestCaseTest.ts
  gherkin/CHANGELOG.md
  gherkin/javascript/src/Gherkin.ts
  gherkin/javascript/src/Query.ts
  html-formatter/CHANGELOG.md
  html-formatter/javascript/package.json
  html-formatter/javascript/src/main.tsx
  query/CHANGELOG.md
  query/javascript/src/Query.ts
  query/javascript/src/QueryStream.ts
  query/javascript/src/index.ts
  query/javascript/test/QueryTest.ts
  react/CHANGELOG.md
  react/javascript/src/CucumberQueryContext.ts
  react/javascript/src/components/app/QueriesWrapper.tsx
  react/javascript/src/components/app/Wrapper.tsx
  react/javascript/src/index.ts
  react/javascript/stories/index.stories.tsx
  react/javascript/test/StepTest.tsx
  react/javascript/test/acceptanceTests.tsx
  react/javascript/testdata/all.ndjson
Labels: library: fake-cucumber

#942 TypeScript: Use ReadOnlyArray
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/javascript/src/Argument.ts
  cucumber-expressions/javascript/src/CombinatorialGeneratedExpressionFactory.ts
  cucumber-expressions/javascript/src/CucumberExpression.ts
  cucumber-expressions/javascript/src/CucumberExpressionGenerator.ts
  cucumber-expressions/javascript/src/Errors.ts
  cucumber-expressions/javascript/src/Expression.ts
  cucumber-expressions/javascript/src/GeneratedExpression.ts
  cucumber-expressions/javascript/src/Group.ts
  cucumber-expressions/javascript/src/GroupBuilder.ts
  cucumber-expressions/javascript/src/ParameterType.ts
  cucumber-expressions/javascript/src/RegexExecArray.ts
  cucumber-expressions/javascript/src/RegularExpression.ts
  cucumber-expressions/javascript/src/TreeRegexp.ts
  fake-cucumber/CHANGELOG.md
  fake-cucumber/javascript/src/ErrorMessageGenerator.ts
  fake-cucumber/javascript/src/ExpressionStepDefinition.ts
  fake-cucumber/javascript/src/IParameterTypeDefinition.ts
  fake-cucumber/javascript/src/IStepDefinition.ts
  fake-cucumber/javascript/src/PickleTestStep.ts
  fake-cucumber/javascript/src/SupportCodeExecutor.ts
  fake-cucumber/javascript/src/TestPlan.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/makePickleTestStep.ts
  fake-cucumber/javascript/src/makeTestCase.ts
  fake-cucumber/javascript/src/types.ts
Labels: language: javascript

#932 messages javascript: TimeConversion addDurations
  messages/javascript/src/TimeConversion.ts
  messages/javascript/test/TimeConversionTest.ts
Labels: language: javascript, library: cucumber-messages

#924 gherkin/javascript: make Dialect available on main export
  gherkin/javascript/src/index.ts
Labels: language: javascript, library: gherkin

#949 Gherkin javascript exports
  fake-cucumber/javascript/src/cli.ts
  fake-cucumber/javascript/test/TestHelpers.ts
  gherkin/CHANGELOG.md
  gherkin/go/go.mod
  gherkin/go/go.sum
  gherkin/java/pom.xml
  gherkin/javascript/gherkin-javascript.razor
  gherkin/javascript/src/Dialect.ts
  gherkin/javascript/src/Parser.ts
  gherkin/javascript/src/cli/main.ts
  gherkin/javascript/src/index.ts
  gherkin/javascript/src/stream/GherkinStreams.ts
  gherkin/javascript/test/ParserTest.ts
  gherkin/javascript/test/QueryTest.ts
  gherkin/javascript/test/StreamTest.ts
  json-formatter/go/go.mod
  json-formatter/go/go.sum
  query/javascript/test/QueryTest.ts
  react/javascript/test/acceptanceTests.tsx
Labels: language: javascript, library: gherkin
