Repository cucumber/common, pull requests merged in 2020-08, with the labels that each got.

#1136 Expose filterByStatus and fix signature
  react/CHANGELOG.md
  react/javascript/src/filter/filterByStatus.ts
  react/javascript/src/index.ts
Labels: language: javascript, library: cucumber-react

#1137 Add semantic CSS classes to React
  react/CHANGELOG.md
  react/javascript/CSS_map.md
  react/javascript/src/components/app/GherkinDocumentList.tsx
  react/javascript/src/components/app/HighLight.tsx
  react/javascript/src/components/app/NoMatchResult.tsx
  react/javascript/src/components/gherkin/Attachment.tsx
  react/javascript/src/components/gherkin/Background.tsx
  react/javascript/src/components/gherkin/BackgroundTitle.tsx
  react/javascript/src/components/gherkin/DataTable.tsx
  react/javascript/src/components/gherkin/Description.tsx
  react/javascript/src/components/gherkin/DocString.tsx
  react/javascript/src/components/gherkin/ErrorMessage.tsx
  react/javascript/src/components/gherkin/Examples.tsx
  react/javascript/src/components/gherkin/ExamplesTable.tsx
  react/javascript/src/components/gherkin/ExamplesTableBody.tsx
  react/javascript/src/components/gherkin/Feature.tsx
  react/javascript/src/components/gherkin/FeatureTitle.tsx
  react/javascript/src/components/gherkin/HookList.tsx
  react/javascript/src/components/gherkin/Keyword.tsx
  react/javascript/src/components/gherkin/Rule.tsx
  react/javascript/src/components/gherkin/RuleTitle.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
  react/javascript/src/components/gherkin/ScenarioTitle.tsx
  react/javascript/src/components/gherkin/StatusIcon.tsx
  react/javascript/src/components/gherkin/Step.tsx
  react/javascript/src/components/gherkin/StepContainer.tsx
  react/javascript/src/components/gherkin/StepList.tsx
  react/javascript/src/components/gherkin/TableBody.tsx
  react/javascript/src/components/gherkin/Tags.tsx
  react/javascript/src/styles/styles.scss
  react/javascript/stories/index.stories.tsx
  react/javascript/test/StepTest.tsx
Labels: language: javascript, library: cucumber-react

#1135 Create meta java runtime fix
  create-meta/CHANGELOG.md
  create-meta/java/src/main/java/io/cucumber/createmeta/CreateMeta.java
  create-meta/java/src/test/java/io/cucumber/createmeta/CreateMetaTest.java
Labels: library: create-meta

#1133 cucumber-expressions: include GeneratedExpression in main export
  cucumber-expressions/javascript/src/index.ts
Labels: language: javascript, library: cucumber-expressions

#1131 fake-cucumber: Differentiate between clock and stopwatch
  compatibility-kit/javascript/Makefile
  compatibility-kit/javascript/features/attachments/attachments.ndjson
  compatibility-kit/javascript/features/data-tables/data-tables.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  compatibility-kit/javascript/features/hooks/hooks.ndjson
  compatibility-kit/javascript/features/minimal/minimal.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.ndjson
  compatibility-kit/javascript/features/rules/rules.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.ndjson
  compatibility-kit/javascript/features/unknown-parameter-type/unknown-parameter-type.ndjson
  create-meta/javascript/src/createMeta.ts
  fake-cucumber/CHANGELOG.md
  fake-cucumber/javascript/src/DateClock.ts
  fake-cucumber/javascript/src/IClock.ts
  fake-cucumber/javascript/src/IStopwatch.ts
  fake-cucumber/javascript/src/IncrementClock.ts
  fake-cucumber/javascript/src/IncrementStopwatch.ts
  fake-cucumber/javascript/src/PerfHooksClock.ts
  fake-cucumber/javascript/src/PerfHooksStopwatch.ts
  fake-cucumber/javascript/src/SupportCode.ts
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestPlan.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/index.ts
  fake-cucumber/javascript/src/loadSupportCode.ts
  fake-cucumber/javascript/src/makeHookTestStep.ts
  fake-cucumber/javascript/src/makePickleTestStep.ts
  fake-cucumber/javascript/src/makeTestCase.ts
  fake-cucumber/javascript/src/makeTestPlan.ts
  fake-cucumber/javascript/src/types.ts
  fake-cucumber/javascript/test/SupportCodeTest.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  fake-cucumber/javascript/test/makeTestCaseTest.ts
  json-to-messages/javascript/src/PredictableTestSteps.ts
  json-to-messages/javascript/src/test-generation/makePredictableTestCase.ts
  query/javascript/test/QueryTest.ts
Labels: library: fake-cucumber

#1132 Export contexts so they can be used in external components
  react/CHANGELOG.md
  react/javascript/src/index.ts
Labels: library: cucumber-react

#1140 Set pom version ranges as part of release process
  .templates/java/default.mk
  .templates/java/scripts/set_version_ranges.rb
  c21e/java/default.mk
  c21e/java/scripts/set_version_ranges.rb
  config/java/default.mk
  config/java/scripts/set_version_ranges.rb
  create-meta/java/default.mk
  create-meta/java/scripts/ci-settings.xml
  create-meta/java/scripts/set_version_ranges.rb
  cucumber-expressions/java/default.mk
  cucumber-expressions/java/scripts/set_version_ranges.rb
  datatable/java/default.mk
  datatable/java/scripts/set_version_ranges.rb
  gherkin/java/default.mk
  gherkin/java/scripts/set_version_ranges.rb
  html-formatter/java/default.mk
  html-formatter/java/scripts/set_version_ranges.rb
  json-to-messages/java-testdata/default.mk
  json-to-messages/java-testdata/scripts/ci-settings.xml
  json-to-messages/java-testdata/scripts/set_version_ranges.rb
  messages/java/default.mk
  messages/java/scripts/set_version_ranges.rb
  tag-expressions/java/default.mk
  tag-expressions/java/scripts/set_version_ranges.rb
Labels: language: java

#1126 Handle potential missing Location
  json-formatter/CHANGELOG.md
  json-formatter/go/go.sum
  json-formatter/go/test_step.go
  json-formatter/go/test_step_test.go
  messages/dotnet/messages.proto
  messages/go/messages.pb.go
  messages/go/messages.proto
  messages/java/messages.proto
  messages/javascript/messages.proto
  messages/messages.md
  messages/messages.proto
  messages/ruby/messages.proto
Labels: json-formatter, language: go

#1150 Add ci property to create_meta. Make ruby cck run again
  compatibility-kit/Makefile
  compatibility-kit/ci_env
  compatibility-kit/javascript/Makefile
  compatibility-kit/ruby/Gemfile
  compatibility-kit/ruby/Makefile
  compatibility-kit/ruby/shared_examples.rb
  compatibility-kit/ruby/templates/specs.rb
  create-meta/CHANGELOG.md
  create-meta/ruby/Rakefile
  create-meta/ruby/bin/print-meta
  create-meta/ruby/lib/cucumber/create_meta.rb
  create-meta/ruby/spec/capture_warnings.rb
Labels: library: create-meta, type: bug
