Repository cucumber/common, pull requests merged in 2020-09, with the labels that each got.

#1167 Fixes #1166
  react/CHANGELOG.md
  react/javascript/package.json
  react/javascript/src/components/gherkin/HookStep.tsx
  react/javascript/test/messageTests.tsx
  react/javascript/test/messages/README.md
  react/javascript/test/messages/hooks-jvm.ndjson
  react/javascript/test/messages/production/.gitignore
Labels: library: cucumber-react, type: bug

#1169 Gherkin utils fix a undefined bug
  gherkin-utils/CHANGELOG.md
  gherkin-utils/javascript/package.json
  gherkin-utils/javascript/src/GherkinDocumentWalker.ts
  gherkin-utils/javascript/test/GherkinDocumentWalkerTest.ts
  gherkin-utils/javascript/test/messageTest.ts
  gherkin-utils/javascript/test/messages/README.md
  gherkin-utils/javascript/test/messages/production/.gitignore
Labels: library: gherkin-utils

#1180 html-formatter: fix when installed locally to node project
  html-formatter/CHANGELOG.md
  html-formatter/javascript/package.json
  html-formatter/javascript/src/cli-main.ts
Labels: language: javascript, library: html-formatter

#1181 Ignore empty lines when reading NDJSON
  messages/CHANGELOG.md
  messages/go/io/ndjson.go
  messages/go/messages_test.go
  messages/java/src/main/java/io/cucumber/messages/NdjsonToMessageIterable.java
  messages/java/src/test/java/io/cucumber/messages/NdjsonSerializationTest.java
  messages/javascript/src/NdjsonToMessageStream.ts
  messages/javascript/test/NdjsonStreamTest.ts
  messages/ruby/lib/cucumber/messages/ndjson_to_message_enumerator.rb
  messages/ruby/spec/cucumber/messages/ndjson_serialization_spec.rb
Labels: library: cucumber-messages, type: bug

#1182 datatable/java: Support for Optional<T>
  datatable/CHANGELOG.md
  datatable/README.md
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableCellByTypeTransformer.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableType.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableTypeRegistry.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableTypeRegistryTableConverter.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/TypeFactory.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/DataTableTypeRegistryTableConverterTest.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/TableParser.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/TypeFactoryTest.java
Labels: language: java, library: datatables
