Repository cucumber/common, pull requests merged in 2020-07, with the labels that each got.

#1101 build: Fix maven-shade warnings
  create-meta/java/pom.xml
  datatable/java/datatable/pom.xml
  gherkin/java/pom.xml
  messages/java/pom.xml
Labels: language: java, type: build

#1102 gherkin/javascript: Throw NoSuchLanguageException when language is unknown
  gherkin/CHANGELOG.md
  gherkin/javascript/src/Errors.ts
  gherkin/javascript/test/TokenMatcherTest.ts
Labels: language: javascript, library: gherkin

#1108 cucumber-expressions: Use Unicode symbols as a parameter boundary in snippets
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/examples.txt
  cucumber-expressions/go/cucumber_expression_generator_test.go
  cucumber-expressions/go/examples.txt
  cucumber-expressions/go/parameter_type_matcher.go
  cucumber-expressions/java/examples.txt
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeMatcher.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionGeneratorTest.java
  cucumber-expressions/javascript/examples.txt
  cucumber-expressions/javascript/src/ParameterTypeMatcher.ts
  cucumber-expressions/ruby/examples.txt
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/parameter_type_matcher.rb
Labels: library: cucumber-expressions

#1111 Use FilteredResults as the HTML report entry point
  html-formatter/CHANGELOG.md
  html-formatter/javascript/src/main.tsx
  react/CHANGELOG.md
  react/javascript/src/components/app/ExecutionSummary.tsx
  react/javascript/src/components/app/FilteredResults.tsx
  react/javascript/src/components/app/NoMatchResult.tsx
  react/javascript/src/components/app/SearchBar.tsx
  react/javascript/src/components/app/StatusesSummary.tsx
  react/javascript/src/getDurationMillis.ts
  react/javascript/src/styles/styles.scss
  react/javascript/stories/index.stories.tsx
  react/javascript/test/getDurationMillisTest.ts
Labels: library: html-formatter

#1099 Fix computing Timestamps in Ruby
  messages/CHANGELOG.md
  messages/ruby/lib/cucumber/messages/time_conversion.rb
  messages/ruby/spec/cucumber/messages/time_conversion_spec.rb
  react/javascript/stories/cucumber-ruby.ndjson
Labels: language: ruby, library: cucumber-messages

#1125 Add human readable duration in react
  react/CHANGELOG.md
  react/javascript/src/components/app/Duration.tsx
  react/javascript/src/components/app/ExecutionSummary.tsx
  react/javascript/src/getDurationMillis.ts
  react/javascript/src/humanFriendlyDuration.ts
  react/javascript/stories/index.stories.tsx
  react/javascript/test/getDurationMillisTest.ts
  react/javascript/test/humanFriendlyDurationTest.ts
Labels: library: cucumber-react

#1129 messages: Use resource bundle to determine message protocol version
  create-meta/java/pom.xml
  create-meta/java/src/main/java/io/cucumber/createmeta/CreateMeta.java
  create-meta/java/src/test/java/io/cucumber/createmeta/CreateMetaTest.java
  messages/CHANGELOG.md
  messages/java/pom.xml
  messages/java/src/main/java/io/cucumber/messages/NdjsonToMessageIterable.java
  messages/java/src/main/java/io/cucumber/messages/ProtocolVersion.java
  messages/java/src/main/resources/io/cucumber/messages/version.properties
  messages/java/src/test/java/io/cucumber/messages/MessageSerializationContract.java
  messages/java/src/test/java/io/cucumber/messages/NdjsonSerializationTest.java
  messages/java/src/test/java/io/cucumber/messages/ProtobufSerializationTest.java
  messages/java/src/test/java/io/cucumber/messages/ProtocolVersionTest.java
  messages/java/src/test/java/io/cucumber/messages/TimeConversionTest.java
Labels: library: create-meta, library: cucumber-messages
