Repository cucumber/common, pull requests merged in 2020-02, with the labels that each got.

#883 Gherkin#fromPaths emits an error if a path can't be read
  gherkin/CHANGELOG.md
  gherkin/javascript/src/Gherkin.ts
  gherkin/javascript/test/StreamTest.ts
Labels: library: gherkin, type: bug

#866 Cucumber react styles
  react/javascript/.storybook/webpack.config.js
  react/javascript/package.json
  react/javascript/src/components/app/GherkinDocumentList.tsx
  react/javascript/src/components/app/Wrapper.tsx
  react/javascript/src/components/gherkin/DataTable.tsx
  react/javascript/src/components/gherkin/ErrorMessage.tsx
  react/javascript/src/components/gherkin/Examples.tsx
  react/javascript/src/components/gherkin/ExamplesTable.tsx
  react/javascript/src/components/gherkin/ExamplesTableBody.tsx
  react/javascript/src/components/gherkin/Feature.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
  react/javascript/src/components/gherkin/StatusIcon.tsx
  react/javascript/src/components/gherkin/Step.tsx
  react/javascript/src/components/gherkin/StepContainer.tsx
  react/javascript/src/components/gherkin/statusColor.ts
  react/javascript/src/components/gherkin/statusName.ts
  react/javascript/src/styles/react-accessible-accordion.css
  react/javascript/src/styles/styles.css
  react/javascript/src/styles/styles.scss
  react/javascript/stories/index.stories.tsx
  react/javascript/test/StepTest.tsx
Labels: library: cucumber-react

#881 fake-cucumber: emit test step started for SKIPPED steps
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  react/javascript/testdata/all.ndjson
  react/javascript/testdata/escaped_pipes.ndjson
  react/javascript/testdata/rules.ndjson
  react/javascript/testdata/statuses.ndjson
  react/javascript/testdata/test.ndjson
Labels: language: javascript, library: fake-cucumber

#886 fake-cucumber: always emit duration for TestResult message
  compatibility-kit/javascript/features/attachments/attachments.ndjson
  compatibility-kit/javascript/features/data-tables/data-tables.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  compatibility-kit/javascript/features/hooks/hooks.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.ndjson
  compatibility-kit/javascript/features/rules/rules.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.ndjson
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/test/TestStepTest.ts
Labels: language: javascript, library: fake-cucumber

#885 datatable/java: Allow Object and String datatable types to be redefined
  datatable/CHANGELOG.md
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableType.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableTypeRegistry.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/DataTableTypeRegistryTest.java
Labels: language: java, library: datatables

#887 Use jpeg image attachments in CCK and display in React
  .templates/javascript/.gitignore
  c21e/javascript/.gitignore
  compatibility-kit/javascript/.gitignore
  compatibility-kit/javascript/Makefile
  compatibility-kit/javascript/features/attachments/attachments.feature
  compatibility-kit/javascript/features/attachments/attachments.ndjson
  compatibility-kit/javascript/features/attachments/attachments.ts
  compatibility-kit/javascript/features/attachments/cucumber-growing-on-vine.jpg
  compatibility-kit/javascript/features/data-tables/data-tables.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  compatibility-kit/javascript/features/hooks/hooks.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.ndjson
  compatibility-kit/javascript/features/rules/rules.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.ndjson
  cucumber-expressions/javascript/.gitignore
  fake-cucumber/javascript/.gitignore
  fake-cucumber/javascript/src/makeAttach.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/attachTest.ts
  fake-cucumber/javascript/test/cucumber-growing-on-vine.jpg
  gherkin/javascript/.gitignore
  html-formatter/javascript/.gitignore
  html-formatter/javascript/README.md
  html-formatter/javascript/package.json
  json-formatter/javascript/.gitignore
  messages/javascript/.gitignore
  query/CHANGELOG.md
  query/javascript/.gitignore
  query/javascript/src/Query.ts
  query/javascript/src/StepMatchArgumentsQuery.ts
  query/javascript/src/index.ts
  query/javascript/test/QueryTest.ts
  query/javascript/test/StepMatchArgumentsQueryTest.ts
  react/CHANGELOG.md
  react/javascript/.gitignore
  react/javascript/Makefile
  react/javascript/src/CucumberQueryContext.ts
  react/javascript/src/StepMatchArgumentsQueryContext.ts
  react/javascript/src/TestResultsQueryContext.ts
  react/javascript/src/components/app/GherkinDocumentList.tsx
  react/javascript/src/components/app/Wrapper.tsx
  react/javascript/src/components/gherkin/Attachment.tsx
  react/javascript/src/components/gherkin/ExamplesTableBody.tsx
  react/javascript/src/components/gherkin/Step.tsx
  react/javascript/test/StepTest.tsx
  tag-expressions/javascript/.gitignore
Labels: language: javascript, library: cucumber-react, type: enhancement

#889 gherkin: Escape triple backticks in alternative docstring
  gherkin/CHANGELOG.md
  gherkin/c/testdata/good/docstrings.feature
  gherkin/c/testdata/good/docstrings.feature.ast.ndjson
  gherkin/c/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/c/testdata/good/docstrings.feature.source.ndjson
  gherkin/c/testdata/good/docstrings.feature.tokens
  gherkin/dotnet/testdata/good/docstrings.feature
  gherkin/dotnet/testdata/good/docstrings.feature.ast.ndjson
  gherkin/dotnet/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/dotnet/testdata/good/docstrings.feature.source.ndjson
  gherkin/dotnet/testdata/good/docstrings.feature.tokens
  gherkin/go/Makefile
  gherkin/go/matcher.go
  gherkin/go/testdata/good/docstrings.feature
  gherkin/go/testdata/good/docstrings.feature.ast.ndjson
  gherkin/go/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/go/testdata/good/docstrings.feature.source.ndjson
  gherkin/go/testdata/good/docstrings.feature.tokens
  gherkin/java/src/main/java/io/cucumber/gherkin/TokenMatcher.java
  gherkin/java/testdata/good/docstrings.feature
  gherkin/java/testdata/good/docstrings.feature.ast.ndjson
  gherkin/java/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/java/testdata/good/docstrings.feature.source.ndjson
  gherkin/java/testdata/good/docstrings.feature.tokens
  gherkin/javascript/src/TokenMatcher.ts
  gherkin/javascript/testdata/good/docstrings.feature
  gherkin/javascript/testdata/good/docstrings.feature.ast.ndjson
  gherkin/javascript/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/javascript/testdata/good/docstrings.feature.source.ndjson
  gherkin/javascript/testdata/good/docstrings.feature.tokens
  gherkin/objective-c/testdata/good/docstrings.feature
  gherkin/objective-c/testdata/good/docstrings.feature.ast.ndjson
  gherkin/objective-c/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/objective-c/testdata/good/docstrings.feature.source.ndjson
  gherkin/objective-c/testdata/good/docstrings.feature.tokens
  gherkin/perl/testdata/good/docstrings.feature
  gherkin/perl/testdata/good/docstrings.feature.ast.ndjson
  gherkin/perl/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/perl/testdata/good/docstrings.feature.source.ndjson
  gherkin/perl/testdata/good/docstrings.feature.tokens
  gherkin/python/testdata/good/docstrings.feature
  gherkin/python/testdata/good/docstrings.feature.ast.ndjson
  gherkin/python/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/python/testdata/good/docstrings.feature.source.ndjson
  gherkin/python/testdata/good/docstrings.feature.tokens
  gherkin/ruby/lib/gherkin/token_matcher.rb
  gherkin/ruby/testdata/good/docstrings.feature
  gherkin/ruby/testdata/good/docstrings.feature.ast.ndjson
  gherkin/ruby/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/ruby/testdata/good/docstrings.feature.source.ndjson
  gherkin/ruby/testdata/good/docstrings.feature.tokens
  gherkin/testdata/good/docstrings.feature
  gherkin/testdata/good/docstrings.feature.ast.ndjson
  gherkin/testdata/good/docstrings.feature.pickles.ndjson
  gherkin/testdata/good/docstrings.feature.source.ndjson
  gherkin/testdata/good/docstrings.feature.tokens
Labels: library: gherkin

#888 Json formatter: export background names
  json-formatter/CHANGELOG.md
  json-formatter/go/test_case.go
  json-formatter/ruby/features/test_named_background.feature
Labels: json-formatter, language: go

#903 Support up to 10MB NDJSON messages
  messages/CHANGELOG.md
  messages/go/io/ndjson.go
  messages/go/messages_test.go
Labels: language: go, library: cucumber-messages

#896 Json formatter: use example location for undefined steps
  json-formatter/go/test_step.go
  json-formatter/ruby/neutralize-json
Labels: json-formatter, language: go

#894 Handle output in json-formatter
  fake-cucumber/javascript/src/IWorld.ts
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/types.ts
  fake-cucumber/javascript/test/TestWorld.ts
  json-formatter/CHANGELOG.md
  json-formatter/go/json_elements.go
  json-formatter/go/test_step.go
  json-formatter/javascript/Makefile
  json-formatter/javascript/features/step_definitions/steps.ts
  json-formatter/ruby/features/step_definitions/steps.rb
  json-formatter/ruby/features/test_output.feature
Labels: json-formatter, language: go

#911 Embed CSS in HTML formatter output
  .templates/javascript/.gitignore
  .templates/javascript/default.mk
  Makefile
  c21e/javascript/.gitignore
  c21e/javascript/default.mk
  compatibility-kit/javascript/.gitignore
  compatibility-kit/javascript/default.mk
  compatibility-kit/javascript/scripts/npm-link
  compatibility-kit/ruby/Makefile
  compatibility-kit/scripts/cucumber-html-formatter
  cucumber-expressions/javascript/.gitignore
  cucumber-expressions/javascript/default.mk
  fake-cucumber/javascript/.gitignore
  fake-cucumber/javascript/default.mk
  gherkin/javascript/.gitignore
  gherkin/javascript/default.mk
  html-formatter/CHANGELOG.md
  html-formatter/javascript/.gitignore
  html-formatter/javascript/Makefile
  html-formatter/javascript/default.mk
  html-formatter/javascript/src/cli-main.tsx
  json-formatter/go/Makefile
  json-formatter/javascript/.gitignore
  json-formatter/javascript/Makefile
  json-formatter/javascript/default.mk
  json-formatter/ruby/Makefile
  messages/javascript/.gitignore
  messages/javascript/default.mk
  query/javascript/.gitignore
  query/javascript/default.mk
  react/CHANGELOG.md
  react/javascript/.gitignore
  react/javascript/Makefile
  react/javascript/default.mk
  react/javascript/package.json
  tag-expressions/javascript/.gitignore
  tag-expressions/javascript/default.mk
Labels: library: html-formatter

#913 Upgrade dependencies
  c21e/javascript/package.json
  compatibility-kit/javascript/package.json
  cucumber-expressions/javascript/package.json
  datatable/java/pom.xml
  fake-cucumber/javascript/package.json
  gherkin/go/go.mod
  gherkin/go/go.sum
  gherkin/javascript/package.json
  html-formatter/javascript/Makefile
  html-formatter/javascript/package.json
  json-formatter/go/go.mod
  json-formatter/go/go.sum
  messages/java/pom.xml
  messages/javascript/package.json
  messages/javascript/src/IdGenerator.ts
  query/javascript/package.json
  react/javascript/package.json
  tag-expressions/javascript/package.json
Labels: type: build

#912 Fix server-side rendering (SRR) of attachments
  .templates/javascript/default.mk
  c21e/javascript/default.mk
  compatibility-kit/javascript/default.mk
  cucumber-expressions/javascript/default.mk
  fake-cucumber/javascript/default.mk
  gherkin/javascript/default.mk
  html-formatter/javascript/default.mk
  html-formatter/javascript/src/cli-main.tsx
  html-formatter/javascript/src/main.tsx
  json-formatter/javascript/default.mk
  messages/javascript/default.mk
  query/javascript/default.mk
  react/javascript/default.mk
  react/javascript/src/BtoaContext.ts
  react/javascript/src/components/app/Wrapper.tsx
  react/javascript/src/components/gherkin/Attachment.tsx
  react/javascript/stories/index.stories.tsx
  react/javascript/test/AttachmentTest.tsx
  react/javascript/test/StepTest.tsx
  react/javascript/test/acceptanceTests.tsx
  tag-expressions/javascript/default.mk
Labels: language: javascript, library: cucumber-react, library: html-formatter

#915 Remove json gem. Doesn't install on windows, and is part of stdlib
  messages/CHANGELOG.md
  messages/ruby/cucumber-messages.gemspec
Labels: language: ruby, library: cucumber-messages
