Repository cucumber/common, pull requests merged in 2020-10, with the labels that each got.

#1202 gherkin/c: change tests from post build step to tests.
  gherkin/c/CMakeLists.txt
Labels: language: c, library: gherkin, type: build

#1199 gherkin-c Fixes 1198 can't build with msvc
  gherkin/c/.gitignore
  gherkin/c/CMakeLists.txt
Labels: language: c, library: gherkin, type: build

#1201 gherkin/c: Fixes Issue #1200 build fails when using ninja generator.
  gherkin/c/CMakeLists.txt
Labels: language: c, library: gherkin, type: build

#1171 Remove golang gox build dependency
  .templates/go/default.mk
  c21e/java/src/main/java/io/cucumber/c21e/ExeFile.java
  cucumber-expressions/go/default.mk
  demo-formatter/go/default.mk
  gherkin/go/Makefile
  gherkin/go/default.mk
  json-formatter/go/default.mk
  messages/go/default.mk
  pretty-formatter/go/default.mk
  tag-expressions/go/default.mk
Labels: language: go, type: build

#1197 Move Query to gherkin-utils
  .circleci/config.yml
  fake-cucumber/javascript/package.json
  fake-cucumber/javascript/src/GherkinQueryStream.ts
  fake-cucumber/javascript/src/cli.ts
  fake-cucumber/javascript/src/makeHookTestStep.ts
  fake-cucumber/javascript/src/makeTestCase.ts
  fake-cucumber/javascript/src/makeTestPlan.ts
  fake-cucumber/javascript/src/runCucumber.ts
  fake-cucumber/javascript/src/types.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/makeTestCaseTest.ts
  gherkin-utils/CHANGELOG.md
  gherkin-utils/javascript/package.json
  gherkin-utils/javascript/src/Query.ts
  gherkin-utils/javascript/src/index.ts
  gherkin-utils/javascript/test/QueryTest.ts
  gherkin/CHANGELOG.md
  gherkin/javascript/package.json
  gherkin/javascript/src/index.ts
  html-formatter/javascript/package.json
  html-formatter/javascript/src/main.tsx
  json-to-messages/javascript/package.json
  json-to-messages/javascript/src/jsonToMessages.ts
  json-to-messages/javascript/src/test-generation/makePredictableHookTestStep.ts
  json-to-messages/javascript/src/test-generation/makePredictableTestCase.ts
  json-to-messages/javascript/src/test-generation/makePredictableTestPlan.ts
  messages/javascript/package.json
  query/javascript/package.json
  query/javascript/test/QueryTest.ts
  react/javascript/src/GherkinQueryContext.ts
  react/javascript/src/components/app/QueriesWrapper.tsx
  react/javascript/src/countScenariosByStatuses.ts
  react/javascript/src/filter/filterByStatus.ts
  react/javascript/src/getFeatureStatus.ts
  react/javascript/src/hidePassedScenarios.ts
  react/javascript/src/search/Search.ts
  react/javascript/src/search/TagSearch.ts
  react/javascript/src/stories/GherkinDocument.stories.tsx
  react/javascript/test/StepTest.tsx
  react/javascript/test/acceptanceTests.tsx
  react/javascript/test/countScenariosByStatusesTest.ts
  react/javascript/test/filter/filterByStatusTest.ts
  react/javascript/test/getFeatureStatusTest.ts
  react/javascript/test/hidePassedScenariosTest.ts
  react/javascript/test/messageTests.tsx
  react/javascript/test/runFeature.ts
  react/javascript/test/search/SearchTest.ts
  react/javascript/test/search/TagSearchTest.ts
Labels: language: javascript, library: gherkin, library: gherkin-utils

#1208 Fix dependencies in go makefiles
  .templates/go/default.mk
  cucumber-expressions/go/default.mk
  demo-formatter/go/default.mk
  gherkin/go/default.mk
  json-formatter/go/default.mk
  messages/go/default.mk
  tag-expressions/go/default.mk
Labels: language: go, type: build
