Repository cucumber/common, pull requests merged in 2020-06, with the labels that each got.

#1059 Use ansi-to-html to render ANSI characters in logs
  compatibility-kit/javascript/Makefile
  compatibility-kit/javascript/features/attachments/attachments.feature
  compatibility-kit/javascript/features/attachments/attachments.ndjson
  compatibility-kit/javascript/features/attachments/attachments.ts
  compatibility-kit/javascript/features/data-tables/data-tables.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  compatibility-kit/javascript/features/hooks/hooks.ndjson
  compatibility-kit/javascript/features/minimal/minimal.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.ndjson
  compatibility-kit/javascript/features/rules/rules.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.ndjson
  compatibility-kit/javascript/features/unknown-parameter-type/unknown-parameter-type.ndjson
  compatibility-kit/ruby/features/attachments/attachments_steps.rb
  react/CHANGELOG.md
  react/javascript/package.json
  react/javascript/src/components/gherkin/Attachment.tsx
  react/javascript/test/AttachmentTest.tsx
Labels: language: javascript, library: cucumber-react

#1070 [gherkin-c] Problem: rule_type.h required to compile library
  gherkin/c/include/rule_type.h
Labels: language: c, library: gherkin, type: build

#1069 cucumber-expressions: parse all group variants
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/go/tree_regexp.go
  cucumber-expressions/go/tree_regexp_test.go
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/TreeRegexp.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/TreeRegexpTest.java
  cucumber-expressions/javascript/src/TreeRegexp.ts
  cucumber-expressions/javascript/test/TreeRegexpTest.ts
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/tree_regexp.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/tree_regexp_spec.rb
Labels: library: cucumber-expressions

#1076 cucumber-expressions: Retain position of optional groups
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/examples.txt
  cucumber-expressions/go/cucumber_expression_test.go
  cucumber-expressions/go/examples.txt
  cucumber-expressions/java/examples.txt
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Group.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/GroupBuilder.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterType.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/ParameterTypeRegistry.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/CucumberExpressionTest.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/RegularExpressionTest.java
  cucumber-expressions/javascript/examples.txt
  cucumber-expressions/javascript/src/Group.ts
  cucumber-expressions/javascript/src/GroupBuilder.ts
  cucumber-expressions/javascript/src/ParameterTypeRegistry.ts
  cucumber-expressions/javascript/test/CucumberExpressionTest.ts
  cucumber-expressions/javascript/test/TreeRegexpTest.ts
  cucumber-expressions/ruby/examples.txt
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/group.rb
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/parameter_type_registry.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/cucumber_expression_spec.rb
Labels: library: cucumber-expressions

#1075 fix ruby gherkin parser constructor
  gherkin/CHANGELOG.md
  gherkin/ruby/gherkin-ruby.razor
  gherkin/ruby/lib/gherkin/parser.rb
  gherkin/ruby/spec/gherkin/parser_spec.rb
Labels: language: ruby, library: gherkin

#1078 gherkin-query ruby: do not try to lookup feature attributes if nil
  gherkin/CHANGELOG.md
  gherkin/ruby/lib/gherkin/query.rb
  gherkin/ruby/spec/gherkin/query_spec.rb
Labels: language: ruby, library: gherkin

#1084 react/javascript: Do not use clickable links for parameters
  react/javascript/src/components/gherkin/Step.tsx
Labels: library: cucumber-react

#1067 Filter scenarios by status + display Summary
  html-formatter/javascript/src/main.tsx
  react/javascript/Makefile
  react/javascript/src/EnvelopesQueryContext.ts
  react/javascript/src/components/app/ExecutionSummary.tsx
  react/javascript/src/components/app/FilteredResults.tsx
  react/javascript/src/components/app/QueriesWrapper.tsx
  react/javascript/src/components/app/SearchBar.tsx
  react/javascript/src/components/app/StatusesFilter.tsx
  react/javascript/src/countScenariosByStatuses.ts
  react/javascript/src/filter/filterByStatus.ts
  react/javascript/src/index.ts
  react/javascript/src/styles/styles.scss
  react/javascript/stories/index.stories.tsx
  react/javascript/test/EnvelopesQueryTest.ts
  react/javascript/test/acceptanceTests.tsx
  react/javascript/test/countScenariosByStatusesTest.ts
  react/javascript/test/filter/filterByStatusTest.ts
  react/javascript/test/runFeature.ts
Labels: language: javascript, library: cucumber-react, library: html-formatter

#1088 Display CI info in html formatter
  react/javascript/src/ciCommitLink.ts
  react/javascript/src/components/app/CICommitLink.tsx
  react/javascript/src/components/app/ExecutionSummary.tsx
  react/javascript/src/components/app/FilteredResults.tsx
  react/javascript/src/styles/styles.scss
  react/javascript/stories/index.stories.tsx
  react/javascript/test/ciCommitLinkTest.ts
Labels: language: javascript, library: cucumber-react

#1087 983 add visible anchors
  react/CHANGELOG.md
  react/javascript/src/IdGenerator.ts
  react/javascript/src/IdGeneratorContext.ts
  react/javascript/src/components/gherkin/Background.tsx
  react/javascript/src/components/gherkin/BackgroundTitle.tsx
  react/javascript/src/components/gherkin/Feature.tsx
  react/javascript/src/components/gherkin/FeatureTitle.tsx
  react/javascript/src/components/gherkin/Rule.tsx
  react/javascript/src/components/gherkin/RuleTitle.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
  react/javascript/src/components/gherkin/ScenarioTitle.tsx
  react/javascript/src/styles/styles.scss
  react/javascript/test/IdGeneratorTest.ts
Labels: language: javascript, library: cucumber-react
