Repository cucumber/common, pull requests merged in 2020-01, with the labels that each got.

#813 cucumber-messages: Use pure-Ruby protobuf implementation (experimental)
  .circleci/config.yml
  .templates/ruby/Rakefile
  Dockerfile
  c21e/ruby/Rakefile
  cucumber-demo-formatter/ruby/Rakefile
  cucumber-demo-formatter/ruby/bin/cucumber-demo-formatter
  cucumber-demo-formatter/ruby/lib/cucumber_demo_formatter.rb
  cucumber-expressions/ruby/Rakefile
  cucumber-json-formatter/ruby/Rakefile
  cucumber-messages/dotnet/messages.proto
  cucumber-messages/go/messages.proto
  cucumber-messages/java/messages.proto
  cucumber-messages/javascript/messages.proto
  cucumber-messages/messages.proto
  cucumber-messages/ruby/Gemfile
  cucumber-messages/ruby/Makefile
  cucumber-messages/ruby/Rakefile
  cucumber-messages/ruby/cucumber-messages.gemspec
  cucumber-messages/ruby/lib/cucumber/.gitignore
  cucumber-messages/ruby/lib/cucumber/messages.rb
  cucumber-messages/ruby/lib/cucumber/messages/ndjson_to_message_enumerator.rb
  cucumber-messages/ruby/lib/cucumber/messages/protobuf_ndjson.rb
  cucumber-messages/ruby/messages.proto
  cucumber-messages/ruby/rake/protobuf.rb
  cucumber-messages/ruby/spec/cucumber/messages/ndjson_serialization_spec.rb
  cucumber-tag-expressions/ruby/Rakefile
  gherkin/ruby/Gemfile
  gherkin/ruby/Rakefile
Labels: library: cucumber-messages

#839 Cucumber react external styles
  cucumber-react/CHANGELOG.md
  cucumber-react/javascript/package.json
  cucumber-react/javascript/src/components/app/GherkinDocumentList.tsx
  cucumber-react/javascript/src/components/gherkin/Background.tsx
  cucumber-react/javascript/src/components/gherkin/DataTable.tsx
  cucumber-react/javascript/src/components/gherkin/Examples.tsx
  cucumber-react/javascript/src/components/gherkin/ExamplesTable.tsx
  cucumber-react/javascript/src/components/gherkin/ExamplesTableBody.tsx
  cucumber-react/javascript/src/components/gherkin/Feature.tsx
  cucumber-react/javascript/src/components/gherkin/Keyword.tsx
  cucumber-react/javascript/src/components/gherkin/Rule.tsx
  cucumber-react/javascript/src/components/gherkin/Scenario.tsx
  cucumber-react/javascript/src/components/gherkin/Step.tsx
  cucumber-react/javascript/src/components/gherkin/StepList.tsx
  cucumber-react/javascript/src/components/gherkin/TableBody.tsx
  cucumber-react/javascript/src/components/gherkin/Tag.tsx
  cucumber-react/javascript/src/components/gherkin/Tags.tsx
  cucumber-react/javascript/src/components/gherkin/html.tsx
  cucumber-react/javascript/src/components/gherkin/isNumber.ts
  cucumber-react/javascript/src/components/styled-react-accessible-accordion/index.tsx
  cucumber-react/javascript/src/styles/react-accessible-accordion.css
  cucumber-react/javascript/src/styles/styles.css
  cucumber-react/javascript/stories/index.stories.tsx
Labels: language: javascript, library: cucumber-react

#845 Add gherkin query in Ruby
  gherkin/CHANGELOG.md
  gherkin/ruby/lib/gherkin/errors.rb
  gherkin/ruby/lib/gherkin/query.rb
  gherkin/ruby/lib/gherkin/stream/parser_message_stream.rb
  gherkin/ruby/spec/gherkin/query_spec.rb
  gherkin/ruby/spec/gherkin/stream/parser_message_stream_spec.rb
Labels: language: ruby, library: gherkin

#849 Drop Gherkin::Query#argument_location which will not be useful
  gherkin/ruby/lib/gherkin/query.rb
  gherkin/ruby/spec/gherkin/query_spec.rb
Labels: language: ruby, library: gherkin

#821 Add targets to build the mono-repo only for a given language
  .templates/default.mk
  .templates/javascript/default.mk
  CONTRIBUTING_NEW.md
  Makefile
  c21e/Makefile
  c21e/default.mk
  c21e/javascript/default.mk
  compatibility-kit/Makefile
  compatibility-kit/default.mk
  compatibility-kit/javascript/default.mk
  config/Makefile
  config/default.mk
  cucumber-expressions/Makefile
  cucumber-expressions/default.mk
  cucumber-expressions/javascript/default.mk
  datatable/Makefile
  datatable/default.mk
  demo-formatter/Makefile
  demo-formatter/default.mk
  fake-cucumber/Makefile
  fake-cucumber/default.mk
  fake-cucumber/javascript/default.mk
  gherkin/Makefile
  gherkin/default.mk
  gherkin/javascript/default.mk
  gherkin/python/gherkin/parser.py
  html-formatter/Makefile
  html-formatter/default.mk
  html-formatter/javascript/default.mk
  json-formatter/Makefile
  json-formatter/default.mk
  json-formatter/javascript/default.mk
  messages/Makefile
  messages/default.mk
  messages/javascript/default.mk
  query/Makefile
  query/default.mk
  query/javascript/default.mk
  react/Makefile
  react/default.mk
  react/javascript/default.mk
  react/javascript/src/components/gherkin/isNumber.ts
  tag-expressions/Makefile
  tag-expressions/default.mk
  tag-expressions/javascript/default.mk
  tag-expressions/python/Pipfile
Labels: type: build

#859 cucumber-expressions: remove node 8 support
  .circleci/config.yml
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/javascript/package.json
  cucumber-expressions/javascript/src/ParameterTypeMatcher.ts
Labels: language: javascript, library: cucumber-expressions, type: build

#860 Cucumber query rewrite
  compatibility-kit/javascript/features/attachments/attachments.ndjson
  compatibility-kit/javascript/features/attachments/attachments.ts
  compatibility-kit/javascript/features/examples-tables/examples-tables.feature
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.ts
  cucumber-expressions/javascript/src/ParameterTypeMatcher.ts
  fake-cucumber/javascript/src/EmptyPickleTestStep.ts
  fake-cucumber/javascript/src/makeTestCase.ts
  fake-cucumber/javascript/test/makeTestCaseTest.ts
  gherkin/javascript/package.json
  gherkin/javascript/src/GherkinQuery.ts
  gherkin/javascript/src/StrictArrayMultimap.ts
  gherkin/javascript/src/StrictMap.ts
  gherkin/javascript/src/index.ts
  gherkin/javascript/test/GherkinQueryTest.ts
  gherkin/javascript/test/legacy/stream/test.feature
  gherkin/javascript/test/legacy/stream/test_fr.feature
  html-formatter/javascript/src/cli-main.tsx
  html-formatter/javascript/src/main.tsx
  query/CHANGELOG.md
  query/javascript/package.json
  query/javascript/src/CucumberQuery.ts
  query/javascript/src/StepMatchArgumentsQuery.ts
  query/javascript/src/TestResultsQuery.ts
  query/javascript/src/index.ts
  query/javascript/test/CucumberQueryTest.ts
  query/javascript/test/StepMatchArgumentsQueryTest.ts
  query/javascript/test/TestResultsQueryTest.ts
  react/CHANGELOG.md
  react/javascript/README.md
  react/javascript/screenshots/collapsed.png
  react/javascript/screenshots/examples-tables.png
  react/javascript/screenshots/expanded.png
  react/javascript/src/CucumberQueryContext.ts
  react/javascript/src/GherkinQueryContext.ts
  react/javascript/src/StepMatchArgumentsQueryContext.ts
  react/javascript/src/TestResultsQueryContext.ts
  react/javascript/src/components/app/GherkinDocumentList.tsx
  react/javascript/src/components/app/Wrapper.tsx
  react/javascript/src/components/gherkin/Background.tsx
  react/javascript/src/components/gherkin/ErrorMessage.tsx
  react/javascript/src/components/gherkin/ExamplesTableBody.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
  react/javascript/src/components/gherkin/Step.tsx
  react/javascript/src/components/gherkin/StepList.tsx
  react/javascript/src/index.ts
  react/javascript/src/styles/styles.css
  react/javascript/stories/index.stories.tsx
  react/javascript/test/StepTest.tsx
  react/javascript/test/acceptanceTests.tsx
  react/javascript/testdata/all.ndjson
  react/javascript/testdata/escaped_pipes.ndjson
  react/javascript/testdata/parameter_types.feature
  react/javascript/testdata/parameter_types.ndjson
  react/javascript/testdata/rules.ndjson
  react/javascript/testdata/statuses.ndjson
  react/javascript/testdata/step_definitions/steps.ts
  react/javascript/testdata/test.ndjson
Labels: language: javascript, library: cucumber-query, library: cucumber-react

#864 Formatter test script
  compatibility-kit/.gitignore
  compatibility-kit/Makefile
  compatibility-kit/javascript/features/.gitignore
  compatibility-kit/scripts/cucumber-html-formatter
  compatibility-kit/scripts/cucumber-json-formatter
  compatibility-kit/scripts/run-formatter
Labels: library: cucumber-messages, type: build

#867 Json formatter hooks
  json-formatter/CHANGELOG.md
  json-formatter/go/json.go
  json-formatter/go/message_lookup.go
  json-formatter/go/test_case.go
  json-formatter/go/test_case_test.go
  json-formatter/go/test_helpers.go
  json-formatter/go/test_step.go
  json-formatter/go/test_step_test.go
Labels: json-formatter, language: go

#870 Update dependencies
  c21e/javascript/package.json
  compatibility-kit/javascript/package.json
  cucumber-expressions/java/pom.xml
  cucumber-expressions/javascript/package.json
  fake-cucumber/javascript/package.json
  gherkin/go/go.mod
  gherkin/go/go.sum
  gherkin/javascript/package.json
  messages/javascript/package.json
  query/javascript/package.json
  tag-expressions/java/pom.xml
  tag-expressions/javascript/package.json
Labels: type: build
