Repository cucumber/common, pull requests merged in 2020-04, with the labels that each got.

#962 Clean up messages
  compatibility-kit/javascript/features/attachments/attachments.feature
  compatibility-kit/javascript/features/attachments/attachments.ndjson
  demo-formatter/go/cucumber_demo_formatter.go
  demo-formatter/go/cucumber_demo_formatter_test.go
  demo-formatter/go/go.mod
  demo-formatter/go/go.sum
  demo-formatter/ruby/lib/cucumber_demo_formatter.rb
  demo-formatter/ruby/spec/cucumber_demo_formatter_spec.rb
  fake-cucumber/CHANGELOG.md
  fake-cucumber/javascript/src/ExpressionStepDefinition.ts
  fake-cucumber/javascript/src/ISupportCodeExecutor.ts
  fake-cucumber/javascript/src/ITestStep.ts
  fake-cucumber/javascript/src/SupportCodeExecutor.ts
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/index.ts
  fake-cucumber/javascript/src/loadSupportCode.ts
  fake-cucumber/javascript/src/makeAttach.ts
  fake-cucumber/javascript/test/StepDefinitionTest.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  fake-cucumber/javascript/test/attachTest.ts
  gherkin/go/astbuilder.go
  json-formatter/go/test_case_test.go
  json-formatter/go/test_step.go
  json-formatter/go/test_step_test.go
  json-to-messages/java/.rsync
  json-to-messages/python/.rsync
  messages/CHANGELOG.md
  messages/dotnet/messages.proto
  messages/go/messages.pb.go
  messages/go/messages.proto
  messages/java/messages.proto
  messages/java/src/test/java/io/cucumber/messages/MessageSerializationContract.java
  messages/java/src/test/java/io/cucumber/messages/TimeConversionTest.java
  messages/javascript/messages.proto
  messages/javascript/test/NdjsonStreamTest.ts
  messages/messages.proto
  messages/ruby/messages.proto
  query/javascript/src/Query.ts
  query/javascript/test/QueryTest.ts
  react/javascript/src/components/app/GherkinDocumentList.tsx
  react/javascript/src/components/gherkin/ExamplesTableBody.tsx
  react/javascript/src/components/gherkin/StatusIcon.tsx
  react/javascript/src/components/gherkin/StepContainer.tsx
  react/javascript/src/components/gherkin/statusName.ts
  react/javascript/stories/index.stories.tsx
  react/javascript/test/StepTest.tsx
  react/javascript/testdata/all.ndjson
Labels: library: cucumber-messages

#964 Support more media types and support both base64 and identity for text
  compatibility-kit/javascript/features/attachments/attachments.feature
  compatibility-kit/javascript/features/attachments/attachments.ndjson
  react/CHANGELOG.md
  react/javascript/.storybook/webpack.config.js
  react/javascript/Makefile
  react/javascript/src/components/gherkin/Attachment.tsx
  react/javascript/stories/index.stories.tsx
  react/javascript/test/AttachmentTest.tsx
  react/javascript/testdata/video/sample.mp4.txt
Labels: library: cucumber-react

#956 build: Install behave in docker
  .circleci/config.yml
  Dockerfile
  json-to-messages/python/Makefile
  secrets/.bash_profile
  tag-expressions/python/Pipfile
Labels: type: build

#959 Messages backwards/forwards compatibility
  messages/CHANGELOG.md
  messages/go/io/ndjson.go
  messages/go/messages_test.go
  messages/java/src/main/java/io/cucumber/messages/NdjsonToMessageIterable.java
  messages/java/src/test/java/io/cucumber/messages/NdjsonSerializationTest.java
  messages/javascript/test/NdjsonStreamTest.ts
  messages/ruby/spec/cucumber/messages/ndjson_serialization_spec.rb
Labels: library: cucumber-messages

#965 cucumber-expressions/java: Make expression types public
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/RegularExpression.java
Labels: language: java, library: cucumber-expressions

#968 Add ParameterType#id. Closes #966
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.ndjson
  compatibility-kit/javascript/features/rules/rules.ndjson
  fake-cucumber/javascript/src/SupportCode.ts
  fake-cucumber/javascript/src/TestPlan.ts
  messages/dotnet/messages.proto
  messages/go/messages.pb.go
  messages/go/messages.proto
  messages/java/messages.proto
  messages/javascript/messages.proto
  messages/messages.md
  messages/messages.proto
  messages/ruby/messages.proto
Labels: library: cucumber-messages, library: gherkin

#906 cucumber-expressions: Minor performance enhancement.
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/Argument.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/CucumberExpression.java
  cucumber-expressions/java/src/main/java/io/cucumber/cucumberexpressions/RegularExpression.java
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/ArgumentTest.java
Labels: library: cucumber-expressions

#876 Gherkin dotnet parser: Update Parse for ReadOnly FileAccess
  gherkin/dotnet/Gherkin/Parser.Extensions.cs
Labels: language: c#, library: gherkin

#940 [gherkin-c] Linking against libmath
  gherkin/c/CMakeLists.txt
Labels: language: c, library: gherkin

#977 Update messages in json to messages
  json-to-messages/CHANGELOG.md
  json-to-messages/Makefile
  json-to-messages/javascript/package.json
  json-to-messages/javascript/src/PredictableHook.ts
  json-to-messages/javascript/src/PredictableStepDefinition.ts
  json-to-messages/javascript/src/PredictableSupportCode.ts
  json-to-messages/javascript/src/PredictableTestSteps.ts
  json-to-messages/javascript/src/SupportCodeExecutor.ts
  json-to-messages/javascript/src/test-generation/makePredictablePickleTestStep.ts
  json-to-messages/javascript/test/PredictableHookTest.ts
  json-to-messages/javascript/test/PredictableSupportCodeTest.ts
  json-to-messages/javascript/test/PredictableTestStepsTest.ts
  json-to-messages/javascript/test/test-generation/makePredictableHookTestStepTest.ts
  json-to-messages/javascript/test/test-generation/makePredictablePickleTestStepTest.ts
Labels: json-to-messages
