Repository cucumber/common, pull requests merged in 2021-03, with the labels that each got.

#1365 Start an architecture doc
  ARCHITECTURE.md
Labels: :book: documentation

#1360 Spanish translation for Feature and Rule synonym keywords
  gherkin/CHANGELOG.md
  gherkin/c/gherkin-languages.json
  gherkin/dotnet/Gherkin/gherkin-languages.json
  gherkin/elixir/priv/gherkin_languages.json
  gherkin/gherkin-languages.json
  gherkin/go/gherkin-languages.json
  gherkin/java/src/main/resources/io/cucumber/gherkin/gherkin-languages.json
  gherkin/javascript/src/gherkin-languages.json
  gherkin/objective-c/GherkinLanguages/gherkin-languages.json
  gherkin/perl/gherkin-languages.json
  gherkin/python/gherkin/gherkin-languages.json
  gherkin/ruby/lib/gherkin/gherkin-languages.json
Labels: :zap: enhancement, library: gherkin

#1428 Fix the release process for javascript modules
  .templates/javascript/default.mk
  compatibility-kit/javascript/default.mk
  compatibility-kit/javascript/package.json
  create-meta/javascript/default.mk
  create-meta/javascript/package.json
  cucumber-expressions/javascript/default.mk
  cucumber-expressions/javascript/package.json
  fake-cucumber/javascript/default.mk
  fake-cucumber/javascript/package.json
  gherkin-streams/javascript/default.mk
  gherkin-streams/javascript/package.json
  gherkin-utils/javascript/default.mk
  gherkin-utils/javascript/package.json
  gherkin/javascript/default.mk
  gherkin/javascript/package.json
  html-formatter/javascript/default.mk
  html-formatter/javascript/package.json
  json-formatter/javascript-testdata/default.mk
  json-to-messages/javascript-testdata/default.mk
  json-to-messages/javascript/default.mk
  json-to-messages/javascript/package.json
  message-streams/javascript/default.mk
  message-streams/javascript/package.json
  messages/javascript/default.mk
  messages/javascript/package.json
  query/javascript/default.mk
  query/javascript/package.json
  react/javascript/default.mk
  tag-expressions/javascript/default.mk
  tag-expressions/javascript/package.json
Labels: :bug: bug, :wrench: build, language: javascript

#1440 Update all dependencies
  compatibility-kit/javascript/package.json
  create-meta/java/pom.xml
  create-meta/javascript/package.json
  create-meta/ruby/cucumber-create-meta.gemspec
  cucumber-expressions/javascript/package.json
  demo-formatter/go/go.sum
  demo-formatter/ruby/cucumber-demo-formatter.gemspec
  fake-cucumber/javascript/package.json
  gherkin-streams/javascript/package.json
  gherkin-utils/javascript/package.json
  gherkin/go/go.sum
  gherkin/javascript/package.json
  gherkin/ruby/cucumber-gherkin.gemspec
  html-formatter/java/pom.xml
  html-formatter/javascript/package.json
  html-formatter/ruby/cucumber-html-formatter.gemspec
  json-formatter/go/go.sum
  json-to-messages/javascript/package.json
  message-streams/javascript/package.json
  messages/go/go.mod
  messages/go/go.sum
  package-lock.json
  query/javascript/package.json
  react/javascript/package.json
  tag-expressions/javascript/package.json
Labels: :wrench: build

#1355 html-formatter: add cucumber icon to page
  html-formatter/CHANGELOG.md
  html-formatter/javascript/logo.svg
  html-formatter/javascript/src/index.mustache.html
Labels: library: html-formatter
