Repository cucumber/common, pull requests merged in 2021-07, with the labels that each got.

#1631 handle retry in html formatter
  compatibility-kit/CHANGELOG.md
  compatibility-kit/javascript/Makefile
  compatibility-kit/javascript/features/attachments/attachments.feature.ndjson
  compatibility-kit/javascript/features/data-tables/data-tables.feature.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.feature.ndjson
  compatibility-kit/javascript/features/hooks/hooks.feature.ndjson
  compatibility-kit/javascript/features/markdown/markdown.feature.md.ndjson
  compatibility-kit/javascript/features/minimal/minimal.feature.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.feature.ndjson
  compatibility-kit/javascript/features/retry/retry.arguments.txt
  compatibility-kit/javascript/features/retry/retry.feature
  compatibility-kit/javascript/features/retry/retry.feature.ndjson
  compatibility-kit/javascript/features/retry/retry.feature.ts
  compatibility-kit/javascript/features/rules/rules.feature.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.feature.ndjson
  compatibility-kit/javascript/features/unknown-parameter-type/unknown-parameter-type.feature.ndjson
  compatibility-kit/ruby/features/retry/retry.feature.rb
  fake-cucumber/CHANGELOG.md
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestPlan.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/cli.ts
  fake-cucumber/javascript/src/index.ts
  fake-cucumber/javascript/src/makeTestPlan.ts
  fake-cucumber/javascript/src/runCucumber.ts
  fake-cucumber/javascript/src/types.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/makeTestCaseTest.ts
  json-to-messages/javascript/src/PredictableTestSteps.ts
  json-to-messages/javascript/src/jsonToMessages.ts
  json-to-messages/javascript/src/test-generation/makePredictableTestPlan.ts
  message-streams/javascript/test/NdjsonStreamTest.ts
  messages/CHANGELOG.md
  messages/javascript/src/getWorstTestStepResult.ts
  messages/javascript/src/messages.ts
  messages/javascript/test/getWorstTestStepResultsTest.ts
  messages/jsonschema/TestCaseFinished.json
  messages/jsonschema/TestStepFinished.json
  messages/messages.md
  messages/ruby/lib/cucumber/messages.dtos.rb
  query/CHANGELOG.md
  query/javascript/src/Query.ts
  query/javascript/test/QueryTest.ts
  react/javascript/src/components/gherkin/ExamplesTable.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
  react/javascript/src/stories/GherkinDocument.stories.tsx
  react/javascript/test/components/gherkin/HookStepTest.tsx
Labels: language: javascript, library: compatibility-kit, library: cucumber-messages, library: cucumber-query, library: fake-cucumber

#1639 cck: use predictable ids and timestamps
  compatibility-kit/javascript/Makefile
  compatibility-kit/javascript/features/attachments/attachments.feature.ndjson
  compatibility-kit/javascript/features/data-tables/data-tables.feature.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.feature.ndjson
  compatibility-kit/javascript/features/hooks/hooks.feature.ndjson
  compatibility-kit/javascript/features/markdown/markdown.feature.md.ndjson
  compatibility-kit/javascript/features/minimal/minimal.feature.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.feature.ndjson
  compatibility-kit/javascript/features/retry/retry.feature.ndjson
  compatibility-kit/javascript/features/rules/rules.feature.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.feature.ndjson
  compatibility-kit/javascript/features/unknown-parameter-type/unknown-parameter-type.feature.ndjson
  fake-cucumber/javascript/src/loadSupportCode.ts
Labels: language: javascript, library: compatibility-kit

#1605 Messages ruby: DTOs serialization and deserialization capabilities
  demo-formatter/ruby/lib/cucumber_demo_formatter.rb
  messages/jsonschema/scripts/codegen.rb
  messages/jsonschema/scripts/templates/ruby.rb.erb
  messages/jsonschema/scripts/templates/ruby_deserializers.rb.erb
  messages/ruby/Makefile
  messages/ruby/lib/cucumber/messages.deserializers.rb
  messages/ruby/lib/cucumber/messages.dtos.rb
  messages/ruby/lib/cucumber/messages.rb
  messages/ruby/lib/cucumber/messages/message.rb
  messages/ruby/lib/cucumber/messages/message/deserialization.rb
  messages/ruby/lib/cucumber/messages/message/serialization.rb
  messages/ruby/lib/cucumber/messages/message/utils.rb
  messages/ruby/lib/cucumber/messages/ndjson_to_message_enumerator.rb
  messages/ruby/spec/cucumber/messages/acceptance_spec.rb
  messages/ruby/spec/cucumber/messages/message/deserialization_spec.rb
  messages/ruby/spec/cucumber/messages/message/dummy_messages.rb
  messages/ruby/spec/cucumber/messages/message/serialization_spec.rb
  messages/ruby/spec/cucumber/messages/message/utils_spec.rb
  messages/ruby/spec/cucumber/messages/ndjson_serialization_spec.rb
Labels: :bank: debt, language: ruby, library: cucumber-messages

#1302 Allow searching in HTML report via URL search param
  html-formatter/CHANGELOG.md
  html-formatter/javascript/src/main.tsx
  react/javascript/src/SearchQueryContext.ts
  react/javascript/src/components/app/FilteredResults.tsx
  react/javascript/src/components/app/QueriesWrapper.tsx
  react/javascript/src/components/app/SearchBar.tsx
  react/javascript/src/components/gherkin/statusName.ts
  react/javascript/src/index.ts
  react/javascript/src/search/FeatureSearch.ts
  react/javascript/test/HighlightTest.tsx
  react/javascript/test/QueriesWrapperTest.tsx
  react/javascript/test/SearchBarTest.tsx
  react/javascript/test/SearchQueryContextTest.ts
Labels: :white_check_mark: accepted, :zap: enhancement, language: javascript, library: cucumber-react, library: html-formatter

#1625 gherkin-languages: add US-Texan localisation
  gherkin/CHANGELOG.md
  gherkin/c/gherkin-languages.json
  gherkin/dotnet/Gherkin/gherkin-languages.json
  gherkin/elixir/priv/gherkin_languages.json
  gherkin/gherkin-languages.json
  gherkin/go/dialects_builtin.go
  gherkin/go/gherkin-languages.json
  gherkin/java/src/main/resources/io/cucumber/gherkin/gherkin-languages.json
  gherkin/javascript/src/gherkin-languages.json
  gherkin/objective-c/GherkinLanguages/gherkin-languages.json
  gherkin/perl/gherkin-languages.json
  gherkin/perl/lib/Gherkin/Generated/Languages.pm
  gherkin/python/gherkin/gherkin-languages.json
  gherkin/ruby/lib/gherkin/gherkin-languages.json
Labels: :zap: enhancement, library: gherkin

#1579 Update "rule" polish translation
  gherkin/CHANGELOG.md
  gherkin/c/gherkin-languages.json
  gherkin/dotnet/Gherkin/gherkin-languages.json
  gherkin/elixir/priv/gherkin_languages.json
  gherkin/gherkin-languages.json
  gherkin/go/dialects_builtin.go
  gherkin/go/gherkin-languages.json
  gherkin/java/src/main/resources/io/cucumber/gherkin/gherkin-languages.json
  gherkin/javascript/src/gherkin-languages.json
  gherkin/objective-c/GherkinLanguages/gherkin-languages.json
  gherkin/perl/gherkin-languages.json
  gherkin/perl/lib/Gherkin/Generated/Languages.pm
  gherkin/python/gherkin/gherkin-languages.json
  gherkin/ruby/lib/gherkin/gherkin-languages.json
Labels: library: gherkin

#1640 messages/java: Write json directly to stream
  create-meta/CHANGELOG.md
  create-meta/java/src/main/java/io/cucumber/createmeta/CreateMeta.java
  create-meta/java/src/main/java/io/cucumber/createmeta/Main.java
  create-meta/java/src/main/java/io/cucumber/createmeta/VariableExpression.java
  create-meta/java/src/test/java/io/cucumber/createmeta/CreateMetaTest.java
  html-formatter/java/pom.xml
  html-formatter/java/src/main/java/io/cucumber/htmlformatter/Main.java
  html-formatter/java/src/main/java/io/cucumber/htmlformatter/MessagesToHtmlWriter.java
  messages/CHANGELOG.md
  messages/java/src/main/java/io/cucumber/messages/JSON.java
  messages/java/src/main/java/io/cucumber/messages/MessageToNdjsonWriter.java
  messages/java/src/main/java/io/cucumber/messages/NdjsonToMessageIterable.java
  messages/java/src/main/java/io/cucumber/messages/ProtocolVersion.java
  messages/java/src/main/java/io/cucumber/messages/TimeConversion.java
Labels: :bank: debt, library: create-meta, library: cucumber-messages, library: html-formatter

#1603 Update Gherkin to use Messages DTOs instead of plain ruby hashes
  gherkin/CHANGELOG.md
  gherkin/ruby/bin/gherkin
  gherkin/ruby/lib/gherkin.rb
  gherkin/ruby/lib/gherkin/ast_builder.rb
  gherkin/ruby/lib/gherkin/pickles/compiler.rb
  gherkin/ruby/lib/gherkin/query.rb
  gherkin/ruby/lib/gherkin/stream/parser_message_stream.rb
  gherkin/ruby/spec/gherkin/query_spec.rb
  gherkin/ruby/spec/gherkin/stream/parser_message_stream_spec.rb
  html-formatter/ruby/Gemfile
  html-formatter/ruby/lib/cucumber/html_formatter.rb
  html-formatter/ruby/spec/html_formatter_spec.rb
  messages/ruby/lib/cucumber/messages/message/serialization.rb
Labels: :bank: debt, language: ruby, library: gherkin

#1652 Use native RegExp Match indices
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/javascript/package.json
  cucumber-expressions/javascript/src/Group.ts
  cucumber-expressions/javascript/src/GroupBuilder.ts
  cucumber-expressions/javascript/src/RegexExecArray.ts
  cucumber-expressions/javascript/src/TreeRegexp.ts
  cucumber-expressions/javascript/test/TreeRegexpTest.ts
  package-lock.json
Labels: :zap: enhancement, language: javascript, library: cucumber-expressions

#1665 [gherkin perl] general cleanup by upgrading the Perl dependency
  gherkin/CHANGELOG.md
  gherkin/perl/cpanfile
  gherkin/perl/lib/Gherkin/TokenScanner.pm
  gherkin/perl/t/020_parser_instantiation.t
  gherkin/perl/t/030_tokenscanner.t
Labels: :robot: dependencies, language: perl, library: gherkin

#1659 cck: add cases for pending, skipped and undefined
  compatibility-kit/CHANGELOG.md
  compatibility-kit/javascript/features/pending/pending.feature
  compatibility-kit/javascript/features/pending/pending.feature.ndjson
  compatibility-kit/javascript/features/pending/pending.feature.ts
  compatibility-kit/javascript/features/skipped/skipped.feature
  compatibility-kit/javascript/features/skipped/skipped.feature.ndjson
  compatibility-kit/javascript/features/skipped/skipped.feature.ts
  compatibility-kit/javascript/features/undefined/undefined.feature
  compatibility-kit/javascript/features/undefined/undefined.feature.ndjson
  compatibility-kit/javascript/features/undefined/undefined.feature.ts
  compatibility-kit/ruby/features/pending/pending.feature.rb
  compatibility-kit/ruby/features/skipped/skipped.feature.rb
  compatibility-kit/ruby/features/undefined/undefined.feature.rb
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/loadSupportCode.ts
  fake-cucumber/javascript/test/TestPlanTest.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  json-formatter/javascript-testdata/Makefile
  json-formatter/ruby-testdata/Makefile
  react/javascript/src/stories/GherkinDocument.stories.tsx
Labels: library: compatibility-kit

#1671 Suggest global parameter type choices
  suggest/javascript/README.md
  suggest/javascript/features/step_definitions/steps.ts
  suggest/javascript/src/StepDocumentBuilder.ts
  suggest/javascript/src/buildStepDocuments.ts
  suggest/javascript/test/StepDocumentBuilder.test.ts
  suggest/javascript/test/buildStepDocuments.test.ts
Labels: :zap: enhancement, language: javascript, suggest

#1674 Expand template build infrastructure for Perl components
  .templates/perl/default.mk
  gherkin/perl/Makefile
  gherkin/perl/default.mk
Labels: :wrench: build, language: perl

#1675 [gherkin-perl] Align dist.ini with messages-perl
  gherkin/perl/dist.ini
Labels: :wrench: build, language: perl, library: gherkin
