Repository cucumber/common, pull requests merged in 2021-09, with the labels that each got.

#1555 Format GherkinDocuments
  gherkin-utils/CHANGELOG.md
  gherkin-utils/README.md
  gherkin-utils/javascript/bin/gherkin-utils
  gherkin-utils/javascript/package.json
  gherkin-utils/javascript/scripts/gherkin-utils.sh
  gherkin-utils/javascript/src/cli.ts
  gherkin-utils/javascript/src/commands/formatCommand.ts
  gherkin-utils/javascript/src/pretty.ts
  gherkin-utils/javascript/test/GherkinDocumentWalkerTest.ts
  gherkin-utils/javascript/test/commands/formatCommandTest.ts
  gherkin-utils/javascript/test/messageTest.ts
  gherkin-utils/javascript/test/parse.ts
  gherkin-utils/javascript/test/prettyTest.ts
  gherkin-utils/javascript/tsconfig.build.json
  gherkin/CHANGELOG.md
  gherkin/javascript/src/GherkinInMarkdownTokenMatcher.ts
  gherkin/javascript/test/GherkinInMarkdownTokenMatcherTest.ts
  gherkin/javascript/test/ParserTest.ts
  package-lock.json
Labels: :zap: enhancement, language: javascript, library: gherkin-utils, :cucumber: core team

#1726 [gherkin-perl] Release engineering stability improvements
  .templates/perl/default.mk
  gherkin/perl/Makefile
  gherkin/perl/default.mk
  messages/perl/default.mk
Labels: :wrench: build, language: perl

#1727 messages-perl fixes after Gherkin integration
  messages/CHANGELOG.md
  messages/perl/lib/Cucumber/Messages/Message.pm
Labels: :bug: bug, library: cucumber-messages, language: perl

#1728 [perl] build, test and release improvements
  .templates/perl/default.mk
  gherkin/CHANGELOG.md
  gherkin/perl/MANIFEST.SKIP
  gherkin/perl/Makefile
  gherkin/perl/default.mk
  gherkin/perl/dist.ini
  messages/perl/Makefile
  messages/perl/default.mk
  messages/perl/dist.ini
Labels: :bug: bug, :wrench: build, language: perl

#1732 Implement Document Formatting
  language-server/CHANGELOG.md
  language-server/javascript/src/server.ts
  language-service/CHANGELOG.md
  language-service/javascript/README.md
  language-service/javascript/src/getGherkinFormattingEdits.ts
  language-service/javascript/src/index.ts
  language-service/javascript/test/getGherkinFormattingEdits.test.ts
  monaco/CHANGELOG.md
  monaco/javascript/example/index.html
  monaco/javascript/example/index.js
  monaco/javascript/src/index.ts
Labels: :zap: enhancement, library: language-server, library: vscode extension

#1734 Add CucumberInfo/CucumberInfoBuilder
  language-server/javascript/src/CucumberInfoStream.ts
  language-server/javascript/src/makeCucumberInfo.ts
  language-server/javascript/test/CucumberInfoStream.test.ts
  language-service/CHANGELOG.md
  language-service/javascript/src/CucumberInfo.ts
  language-service/javascript/src/index.ts
Labels: library: language-server

#1735 [gherkin-perl] Implement Gherkin on top of Cucumber::Messages
  gherkin/CHANGELOG.md
  gherkin/perl/Makefile
  gherkin/perl/cpanfile
  gherkin/perl/lib/App/gherkin.pm
  gherkin/perl/lib/Gherkin.pm
  gherkin/perl/lib/Gherkin/AstBuilder.pm
  gherkin/perl/lib/Gherkin/Pickles/Compiler.pm
Labels: library: gherkin, language: perl, :broken_heart: breaking change

#1737 Monaco lsp fixes
  language-service/CHANGELOG.md
  language-service/javascript/src/getGherkinCompletionItems.ts
  language-service/javascript/test/getGherkinCompletionItems.test.ts
  monaco/CHANGELOG.md
  monaco/javascript/example/index.js
  monaco/javascript/src/index.ts
Labels: :zap: enhancement, library: language-server

#1739 React customise gherkin document
  react/CHANGELOG.md
  react/javascript/src/components/app/GherkinDocumentList.tsx
  react/javascript/src/components/customise/CustomRendering.tsx
  react/javascript/src/components/gherkin/GherkinDocument.tsx
Labels: :zap: enhancement, library: cucumber-react

#1740 [gherkin-perl] Add module documentation for public API
  gherkin/CHANGELOG.md
  gherkin/perl/lib/Gherkin.pm
  gherkin/perl/lib/Gherkin/Dialect.pm
  gherkin/perl/lib/Gherkin/Parser.pm
  gherkin/perl/lib/Gherkin/Pickles/Compiler.pm
  gherkin/perl/lib/Gherkin/TokenMatcher.pm
  gherkin/perl/lib/Gherkin/TokenScanner.pm
Labels: :book: documentation, library: gherkin, language: perl

#1742 tag-expressions: Remove deprecated method use_2to3
  tag-expressions/CHANGELOG.md
  tag-expressions/python/setup.py
Labels: :bug: bug, library: tag-expressions, language: python

#1752 Remove dependency on `node:util` and `window`
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/javascript/src/Argument.ts
  cucumber-expressions/javascript/src/CucumberExpressionGenerator.ts
  cucumber-expressions/javascript/src/GeneratedExpression.ts
  cucumber-expressions/javascript/src/ParameterTypeRegistry.ts
  cucumber-expressions/javascript/src/web.ts
  cucumber-expressions/javascript/test/CombinatorialGeneratedExpressionFactoryTest.ts
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/cucumber_expression_generator.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/cucumber_expression_generator_spec.rb
Labels: :bug: bug, library: cucumber-expressions, :wrench: build

#1753 Correctly match empty string. Fixes #1329.
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/go/regular_expression_test.go
  cucumber-expressions/java/src/test/java/io/cucumber/cucumberexpressions/RegularExpressionTest.java
  cucumber-expressions/javascript/src/GroupBuilder.ts
  cucumber-expressions/javascript/test/RegularExpressionTest.ts
  cucumber-expressions/javascript/test/TreeRegexpTest.ts
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/regular_expression_spec.rb
Labels: :bug: bug, library: cucumber-expressions

#1759 Manually commit post-release adjustments for messages
  demo-formatter/go/go.mod
  gherkin/go/go.mod
  json-formatter/go/go.mod
  messages/java/pom.xml
Labels: library: cucumber-messages

#1756 Convert messages into a hybrid cjs/esm package
  .templates/javascript-esm/.gitignore
  .templates/javascript-esm/default.mk
  json-formatter/javascript-testdata/package.json
  message-streams/CHANGELOG.md
  message-streams/javascript/.mocharc.json
  message-streams/javascript/.rsync
  message-streams/javascript/package.cjs.json
  message-streams/javascript/package.json
  message-streams/javascript/src/index.ts
  message-streams/javascript/test/NdjsonStreamTest.ts
  message-streams/javascript/test/verifyStreamContract.ts
  message-streams/javascript/tsconfig.build-cjs.json
  message-streams/javascript/tsconfig.build-esm.json
  message-streams/javascript/tsconfig.json
  messages/CHANGELOG.md
  messages/javascript/.mocharc.json
  messages/javascript/.rsync
  messages/javascript/Makefile
  messages/javascript/package.cjs.json
  messages/javascript/package.json
  messages/javascript/src/TimeConversion.ts
  messages/javascript/src/getWorstTestStepResult.ts
  messages/javascript/src/index.ts
  messages/javascript/src/parseEnvelope.ts
  messages/javascript/src/version.ts
  messages/javascript/test/TimeConversionTest.ts
  messages/javascript/test/getWorstTestStepResultsTest.ts
  messages/javascript/test/messagesTest.ts
  messages/javascript/tsconfig.build-cjs.json
  messages/javascript/tsconfig.build-esm.json
  messages/javascript/tsconfig.json
  package-lock.json
  package.json
  tsconfig.build-cjs.json
  tsconfig.build-esm.json
  tsconfig.build.json
  tsconfig.json
Labels: :zap: enhancement, language: javascript, library: cucumber-messages

#1767 react: Import correct default styles for Children component
  react/CHANGELOG.md
  react/javascript/src/components/gherkin/Children.tsx
Labels: :bug: bug, library: cucumber-react
