Repository cucumber/common, pull requests merged in 2021-02, with the labels that each got.

#1332 Don't load streams by default. Closes #1331
  fake-cucumber/javascript/src/cli.ts
  fake-cucumber/javascript/test/TestHelpers.ts
  gherkin-utils/javascript/test/QueryTest.ts
  gherkin/CHANGELOG.md
  gherkin/javascript/src/generateMessages.ts
  gherkin/javascript/src/index.ts
  gherkin/javascript/src/makeSourceEnvelope.ts
  gherkin/javascript/src/stream/ParserMessageStream.ts
  gherkin/javascript/src/stream/SourceMessageStream.ts
  gherkin/javascript/test/ParserTest.ts
  gherkin/javascript/test/StreamTest.ts
  query/javascript/test/QueryTest.ts
  react/javascript/test/acceptanceTests.tsx
  react/javascript/test/hidePassedScenariosTest.ts
  react/javascript/test/runFeature.ts
Labels: :broken_heart: breaking change, language: javascript, library: gherkin

#1313 messages: use --force-number to avoid implicit Long dependency
  messages/CHANGELOG.md
  messages/javascript/package.json
  messages/javascript/src/index.ts
  messages/javascript/test/TimeDeserialisationTest.ts
Labels: language: javascript, library: cucumber-messages

#1333 Default export does not load node.js streams. Fixes #1331
  fake-cucumber/javascript/src/makeFormatStream.ts
  gherkin-utils/javascript/test/messageTest.ts
  gherkin/javascript/src/cli/main.ts
  gherkin/javascript/src/stream/GherkinStreams.ts
  html-formatter/javascript/src/cli-main.ts
  json-to-messages/javascript/src/jsonToMessages.ts
  json-to-messages/javascript/test/jsonToMessagesTest.ts
  messages/CHANGELOG.md
  messages/javascript/src/index.ts
  messages/javascript/src/stream.ts
  messages/javascript/test/BinaryStreamTest.ts
  messages/javascript/test/NdjsonStreamTest.ts
  react/javascript/test/messageTests.tsx
Labels: :broken_heart: breaking change, :wrench: build, library: cucumber-messages, library: gherkin

#1343 Upgrade dependencies
  c21e/javascript/package.json
  c21e/ruby/c21e.gemspec
  compatibility-kit/javascript/package.json
  create-meta/java/pom.xml
  create-meta/javascript/package.json
  create-meta/ruby/cucumber-create-meta.gemspec
  cucumber-expressions/go/go.sum
  cucumber-expressions/javascript/package.json
  cucumber-expressions/ruby/cucumber-cucumber-expressions.gemspec
  demo-formatter/go/go.mod
  demo-formatter/go/go.sum
  demo-formatter/ruby/cucumber-demo-formatter.gemspec
  fake-cucumber/javascript/package.json
  fake-cucumber/javascript/src/cli.ts
  gherkin-utils/javascript/package.json
  gherkin/go/go.mod
  gherkin/go/go.sum
  gherkin/java/pom.xml
  gherkin/javascript/package.json
  gherkin/javascript/src/cli/main.ts
  gherkin/perl/Makefile
  gherkin/perl/lib/Gherkin/Generated/Languages.pm
  gherkin/ruby/cucumber-gherkin.gemspec
  html-formatter/java/pom.xml
  html-formatter/javascript/package.json
  html-formatter/javascript/src/cli-main.ts
  html-formatter/ruby/cucumber-html-formatter.gemspec
  json-formatter/go/go.mod
  json-formatter/go/go.sum
  json-to-messages/javascript-testdata/package.json
  json-to-messages/javascript/package.json
  json-to-messages/javascript/src/cli.ts
  query/javascript/package.json
  query/javascript/src/index.ts
  react/javascript/package.json
  react/javascript/test/CucumberQueryStream.ts
  react/javascript/test/acceptanceTests.tsx
  react/javascript/test/hidePassedScenariosTest.ts
  tag-expressions/go/go.sum
  tag-expressions/javascript/package.json
  tag-expressions/ruby/cucumber-tag-expressions.gemspec
Labels: :robot: dependencies

#1344 [gherkin-perl] Store and load language data more efficiently
  gherkin/perl/helper-scripts/build_languages.pl
  gherkin/perl/lib/Gherkin/Generated/Languages.pm
Labels: :cucumber: enhancement, language: perl, library: gherkin

#1308 html-formatter: reclassify webpack-bundled dependencies to be dev dependencies
  html-formatter/CHANGELOG.md
  html-formatter/javascript/package.json
  html-formatter/javascript/src/cli-main.ts
Labels: language: javascript, library: html-formatter

#1322 react: fix error/attachment scrolling, reduce spacing
  react/CHANGELOG.md
  react/javascript/src/components/gherkin/Background.tsx
  react/javascript/src/components/gherkin/HookList.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
  react/javascript/src/components/gherkin/StepList.tsx
  react/javascript/src/styles/styles.scss
Labels: library: cucumber-react

#1345 Remove IGherkinOptions#createReadStream. Fixes #1284
  fake-cucumber/javascript/src/cli.ts
  gherkin/CHANGELOG.md
  gherkin/javascript/src/IGherkinOptions.ts
  gherkin/javascript/src/cli/main.ts
  gherkin/javascript/src/stream/GherkinStreams.ts
  gherkin/javascript/test/StreamTest.ts
  react/javascript/test/acceptanceTests.tsx
  react/javascript/test/hidePassedScenariosTest.ts
Labels: :bug: bug, language: javascript, library: gherkin

#1350 [gherkin-perl] Fine-tune release engineering
  Makefile
  gherkin/perl/.gitignore
  gherkin/perl/MANIFEST.SKIP
  gherkin/perl/Makefile
  gherkin/perl/cpanfile
  gherkin/perl/dist.ini
Labels: :wrench: build, language: perl, library: gherkin

#1358 Create local maven repository before starting the dev container
  Makefile
Labels: :wrench: build

#1359 [gherkin-perl] Create Gherkin API & better releases
  gherkin/CHANGELOG.md
  gherkin/perl/MANIFEST.SKIP
  gherkin/perl/Makefile
  gherkin/perl/bin/gherkin
  gherkin/perl/bin/gherkin-generate-ast
  gherkin/perl/bin/gherkin-generate-pickles
  gherkin/perl/cpanfile
  gherkin/perl/helper-scripts/build_languages.pl
  gherkin/perl/lib/App/gherkin.pm
  gherkin/perl/lib/Gherkin.pm
  gherkin/perl/lib/Gherkin/Generated/Languages.pm
  gherkin/perl/lib/Gherkin/Parser.pm
  gherkin/perl/lib/Gherkin/Pickles/Compiler.pm
Labels: :zap: enhancement, language: perl, library: gherkin
