Repository cucumber/common, pull requests merged in 2021-06, with the labels that each got.

#1593 gherkin/ruby: Fix tagging of rules
  gherkin/CHANGELOG.md
  gherkin/ruby/lib/gherkin/query.rb
  gherkin/ruby/spec/gherkin/query_spec.rb
Labels: :bug: bug, language: ruby

#1601 Messages: ruby: Convert DTOs attributes from camelCase to snake_case
  messages/CHANGELOG.md
  messages/jsonschema/scripts/codegen.rb
  messages/jsonschema/scripts/templates/ruby.rb.erb
  messages/ruby/lib/cucumber/messages.dtos.rb
Labels: :bank: debt, language: ruby, library: cucumber-messages

#1604 Cck ruby: remove some remaining protobuf references
  compatibility-kit/ruby/lib/messages_comparator.rb
Labels: :bank: debt, language: ruby, library: compatibility-kit

#1611 react: alter left offset for anchor in step line
  react/CHANGELOG.md
  react/javascript/src/components/gherkin/Anchor.module.scss
  react/javascript/src/components/gherkin/StepItem.module.scss
Labels: language: javascript, library: cucumber-react

#1615 correct some bits of documentation for messages
  messages/README.md
  messages/java/README.md
  messages/java/pom.xml
  messages/javascript/README.md
  messages/javascript/package.json
  messages/ruby/README.md
Labels: :book: documentation

#1619 Render attachments in examples tables. Closes #1173
  compatibility-kit/CHANGELOG.md
  compatibility-kit/javascript/features/attachments/attachments.feature
  compatibility-kit/javascript/features/attachments/attachments.feature.ndjson
  compatibility-kit/javascript/features/attachments/attachments.feature.ts
  compatibility-kit/javascript/features/attachments/cucumber-growing-on-vine.jpg
  compatibility-kit/javascript/features/attachments/cucumber.png
  compatibility-kit/javascript/features/data-tables/data-tables.feature.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.feature.ndjson
  compatibility-kit/javascript/features/hooks/hooks.feature.ndjson
  compatibility-kit/javascript/features/markdown/markdown.feature.md.ndjson
  compatibility-kit/javascript/features/minimal/minimal.feature.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.feature.ndjson
  compatibility-kit/javascript/features/rules/rules.feature.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.feature.ndjson
  compatibility-kit/javascript/features/unknown-parameter-type/unknown-parameter-type.feature.ndjson
  compatibility-kit/ruby/features/attachments/attachments.feature.rb
  compatibility-kit/ruby/features/attachments/cucumber-growing-on-vine.jpg
  compatibility-kit/ruby/features/attachments/cucumber.png
  fake-cucumber/javascript/test/attachTest.ts
  fake-cucumber/javascript/test/cucumber-growing-on-vine.jpg
  fake-cucumber/javascript/test/cucumber.png
  json-formatter/ruby-testdata/Gemfile
  json-formatter/ruby-testdata/neutralize-json
  react/CHANGELOG.md
  react/javascript/src/components/gherkin/ExamplesTable.tsx
  react/javascript/src/components/gherkin/Scenario.tsx
Labels: :zap: enhancement, language: javascript, library: cucumber-react
