Repository cucumber/common, pull requests merged in 2021-04, with the labels that each got.

#1454 cck: make javascript package publishable
  compatibility-kit/javascript/package.json
Labels: :wrench: build, language: javascript, library: compatibility-kit

#1453 Upgrade dependencies
  cucumber-expressions/javascript/package.json
  demo-formatter/go/go.sum
  gherkin-streams/javascript/package.json
  gherkin-utils/javascript/package.json
  gherkin/go/go.sum
  gherkin/javascript/package.json
  html-formatter/javascript/package.json
  json-formatter/go/go.sum
  message-streams/javascript/package.json
  messages/go/go.mod
  messages/go/go.sum
  messages/go/messages.pb.go
  messages/javascript/package.json
  package-lock.json
  react/javascript/package.json
Labels: :wrench: build

#1452 build: fix files spec in package.json for query, cucumber-expressions
  cucumber-expressions/javascript/package.json
  query/CHANGELOG.md
  query/javascript/package.json
Labels: :bug: bug, :wrench: build, language: javascript

#1449 gherkin: Update gherkin-python for the Rule keyword
  .circleci/config.yml
  gherkin/Makefile
  gherkin/python/Makefile
  gherkin/python/bin/gherkin
  gherkin/python/bin/gherkin-generate-tokens
  gherkin/python/bin/gherkin.py
  gherkin/python/bin/gherkin_generate_tokens.py
  gherkin/python/gherkin/ast_builder.py
  gherkin/python/gherkin/dialect.py
  gherkin/python/gherkin/gherkin_line.py
  gherkin/python/gherkin/parser.py
  gherkin/python/gherkin/pickles/compiler.py
  gherkin/python/gherkin/stream/gherkin_events.py
  gherkin/python/gherkin/stream/id_generator.py
  gherkin/python/gherkin/stream/source_events.py
  gherkin/python/gherkin/token_matcher.py
  gherkin/python/test/gherkin_test.py
  gherkin/python/test/pickles_test/compiler_test.py
Labels: language: python, library: gherkin

#1460 Add UndefinedParameterTypeError#undefined_parameter_type_name
  cucumber-expressions/CHANGELOG.md
  cucumber-expressions/ruby/lib/cucumber/cucumber_expressions/errors.rb
  cucumber-expressions/ruby/spec/cucumber/cucumber_expressions/cucumber_expression_spec.rb
Labels: :zap: enhancement, library: cucumber-expressions

#1461 Add generated messages.pb.rb to git
  messages/CHANGELOG.md
  messages/ruby/lib/cucumber/.gitignore
  messages/ruby/lib/cucumber/messages.pb.rb
Labels: :wrench: build, language: ruby, library: cucumber-messages

#1458 gherkin-python: Sync the release process with tag-expressions-python
  gherkin/python/.rsync
  gherkin/python/MANIFEST
  gherkin/python/Makefile
  gherkin/python/default.mk
  gherkin/python/setup.py
Labels: language: python, library: gherkin

#1419 datatable/java: all asX should behave consistently
  datatable/CHANGELOG.md
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTable.java
  datatable/java/datatable/src/main/java/io/cucumber/datatable/DataTableType.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/DataTableTest.java
  datatable/java/datatable/src/test/java/io/cucumber/datatable/DataTableTypeRegistryTableConverterTest.java
Labels: :cucumber: core team, :white_check_mark: accepted, :zap: enhancement, language: java, library: datatables

#1466 json-formatter: add hook attachments
  compatibility-kit/javascript/features/hooks/cucumber.svg
  compatibility-kit/javascript/features/hooks/hooks.feature
  compatibility-kit/javascript/features/hooks/hooks.ndjson
  compatibility-kit/javascript/features/hooks/hooks.ts
  compatibility-kit/ruby/features/hooks/cucumber.svg
  compatibility-kit/ruby/features/hooks/hooks_steps.rb
  json-formatter/CHANGELOG.md
  json-formatter/README.md
  json-formatter/go/test_step.go
  json-formatter/go/test_step_test.go
  json-formatter/javascript-testdata/features/hooks/cucumber.svg
  json-formatter/ruby-testdata/features/hooks/cucumber.svg
Labels: :bug: bug, :fire: critical, json-formatter, language: go

#1480 [python] gherkin: run gherkin-python as a module
  gherkin/CHANGELOG.md
  gherkin/python/MANIFEST
  gherkin/python/bin/gherkin
  gherkin/python/bin/gherkin-generate-tokens
  gherkin/python/gherkin/__main__.py
  gherkin/python/setup.py
Labels: :bug: bug, :fire: critical, :white_check_mark: accepted, language: python, library: gherkin

#1478 Export StatusIcon component in @cucumber/react
  react/CHANGELOG.md
  react/javascript/src/index.ts
Labels: language: javascript, library: cucumber-react

#1489 json-formatter: add compatibility with tagged examples
  compatibility-kit/javascript/features/examples-tables/examples-tables.feature
  compatibility-kit/javascript/features/examples-tables/examples-tables.ndjson
  json-formatter/CHANGELOG.md
  json-formatter/go/message_lookup.go
  json-formatter/go/message_lookup_test.go
Labels: :bug: bug, :white_check_mark: accepted, json-formatter, language: go

#1497 [Gherkin] Update README snippets
  gherkin/README.md
Labels: :book: documentation, :white_check_mark: accepted, library: gherkin
