Repository cucumber/common, pull requests merged in 2021-05, with the labels that each got.

#1510 gherkin-streams: accept an optional `relativeTo` path for uris
  gherkin-streams/CHANGELOG.md
  gherkin-streams/javascript/README.md
  gherkin-streams/javascript/src/GherkinStreams.ts
  gherkin-streams/javascript/src/SourceMessageStream.ts
  gherkin-streams/javascript/src/index.ts
  gherkin-streams/javascript/test/StreamTest.ts
  gherkin/javascript/README.md
Labels: language: javascript, library: gherkin

#1499 gherkin: Add another Russian translation for "scenario outline"
  gherkin/CHANGELOG.md
  gherkin/c/gherkin-languages.json
  gherkin/dotnet/Gherkin/gherkin-languages.json
  gherkin/elixir/priv/gherkin_languages.json
  gherkin/gherkin-languages.json
  gherkin/go/gherkin-languages.json
  gherkin/java/src/main/resources/io/cucumber/gherkin/gherkin-languages.json
  gherkin/javascript/src/gherkin-languages.json
  gherkin/objective-c/GherkinLanguages/gherkin-languages.json
  gherkin/perl/gherkin-languages.json
  gherkin/perl/lib/Gherkin/Generated/Languages.pm
  gherkin/python/gherkin/gherkin-languages.json
  gherkin/ruby/lib/gherkin/gherkin-languages.json
Labels: :zap: enhancement, library: gherkin

#1535 Only run npm install for javascript modules
  .circleci/config.yml
  .templates/javascript/default.mk
  Makefile
  compatibility-kit/javascript/default.mk
  create-meta/javascript/default.mk
  cucumber-expressions/javascript/default.mk
  fake-cucumber/javascript/default.mk
  gherkin-streams/javascript/default.mk
  gherkin-utils/javascript/default.mk
  gherkin/javascript/default.mk
  html-formatter/javascript/default.mk
  json-formatter/javascript-testdata/default.mk
  json-to-messages/javascript-testdata/default.mk
  json-to-messages/javascript/default.mk
  message-streams/javascript/default.mk
  messages/javascript/default.mk
  query/javascript/default.mk
  react/javascript/default.mk
  tag-expressions/javascript/default.mk
Labels: :wrench: build

#1541 Update dependencies 2021 05
  .templates/javascript/default.mk
  compatibility-kit/javascript/default.mk
  compatibility-kit/javascript/package.json
  create-meta/javascript/default.mk
  create-meta/javascript/package.json
  cucumber-expressions/javascript/default.mk
  cucumber-expressions/javascript/package.json
  cucumber-expressions/javascript/src/ParameterType.ts
  cucumber-expressions/javascript/test/RegularExpressionTest.ts
  fake-cucumber/javascript/default.mk
  fake-cucumber/javascript/package.json
  gherkin-streams/javascript/default.mk
  gherkin-streams/javascript/package.json
  gherkin-utils/javascript/default.mk
  gherkin-utils/javascript/package.json
  gherkin/javascript/default.mk
  gherkin/javascript/package.json
  gherkin/javascript/src/TokenExceptions.ts
  html-formatter/javascript/default.mk
  html-formatter/javascript/package.json
  json-formatter/javascript-testdata/default.mk
  json-formatter/javascript-testdata/package.json
  json-to-messages/javascript-testdata/default.mk
  json-to-messages/javascript-testdata/package.json
  json-to-messages/javascript/default.mk
  json-to-messages/javascript/package.json
  message-streams/javascript/default.mk
  message-streams/javascript/package.json
  messages/javascript/default.mk
  messages/javascript/package.json
  package-lock.json
  query/javascript/default.mk
  query/javascript/package.json
  react/javascript/default.mk
  react/javascript/package.json
  tag-expressions/javascript/default.mk
  tag-expressions/javascript/package.json
Labels: :wrench: build

#1543 Correctly set success in TestStepFinished
  compatibility-kit/javascript/features/attachments/attachments.feature.ndjson
  compatibility-kit/javascript/features/data-tables/data-tables.feature.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.feature.ndjson
  compatibility-kit/javascript/features/hooks/hooks.feature.ndjson
  compatibility-kit/javascript/features/markdown/markdown.md.ndjson
  compatibility-kit/javascript/features/minimal/minimal.feature.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.feature.ndjson
  compatibility-kit/javascript/features/rules/rules.feature.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.feature.ndjson
  compatibility-kit/javascript/features/unknown-parameter-type/unknown-parameter-type.feature.ndjson
  compatibility-kit/ruby/features/hooks/hooks.feature.rb
  fake-cucumber/CHANGELOG.md
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestPlan.ts
  fake-cucumber/javascript/src/makeTestPlan.ts
  fake-cucumber/javascript/src/types.ts
  json-formatter/go/go.sum
  messages/CHANGELOG.md
  messages/javascript/src/getWorstTestStepResult.ts
  messages/javascript/src/index.ts
  messages/javascript/test/getWorstTestStepResultsTest.ts
  package.json
  query/CHANGELOG.md
  query/javascript/src/Query.ts
  query/javascript/test/QueryTest.ts
  react/javascript/src/components/app/GherkinDocumentList.tsx
  react/javascript/src/components/gherkin/ExamplesTableBody.tsx
  react/javascript/src/components/gherkin/HookStep.tsx
  react/javascript/src/components/gherkin/Step.tsx
  react/javascript/src/countScenariosByStatuses.ts
  react/javascript/src/filter/filterByStatus.ts
  react/javascript/src/getFeatureStatus.ts
  react/javascript/src/hidePassedScenarios.ts
  react/javascript/test/hidePassedScenariosTest.ts
Labels: library: compatibility-kit, library: fake-cucumber

#1547 Update dependencies
  create-meta/java/pom.xml
  create-meta/ruby/cucumber-create-meta.gemspec
  cucumber-expressions/java/pom.xml
  datatable/java/pom.xml
  demo-formatter/go/go.sum
  demo-formatter/ruby/cucumber-demo-formatter.gemspec
  gherkin/dotnet/.gitignore
  gherkin/dotnet/.rsync
  gherkin/dotnet/Makefile
  gherkin/dotnet/default.mk
  gherkin/dotnet/scripts/update-version
  gherkin/go/go.sum
  gherkin/java/pom.xml
  gherkin/ruby/cucumber-gherkin.gemspec
  html-formatter/java/pom.xml
  html-formatter/ruby/cucumber-html-formatter.gemspec
  html-formatter/ruby/lib/cucumber/html_formatter.rb
  html-formatter/ruby/spec/html-formatter/template_writer_spec.rb
  html-formatter/ruby/spec/html_formatter_spec.rb
  json-formatter/go/go.sum
  package-lock.json
  tag-expressions/java/pom.xml
Labels: :wrench: build

#1552 [gherkin-perl] Update to conform to JSON schema output specification
  gherkin/CHANGELOG.md
  gherkin/Makefile
  gherkin/perl/lib/Gherkin/AstBuilder.pm
  gherkin/perl/lib/Gherkin/Pickles/Compiler.pm
Labels: language: perl, library: gherkin

#1534 Use multi-arch build container
  .circleci/config.yml
  Makefile
Labels: :wrench: build

#1554 Fix fake-cucumber reporting of UNDEFINED steps
  compatibility-kit/javascript/features/attachments/attachments.feature.ndjson
  compatibility-kit/javascript/features/data-tables/data-tables.feature.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.feature.ndjson
  compatibility-kit/javascript/features/hooks/hooks.feature.ndjson
  compatibility-kit/javascript/features/markdown/markdown.md.ndjson
  compatibility-kit/javascript/features/minimal/minimal.feature.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.feature.ndjson
  compatibility-kit/javascript/features/rules/rules.feature.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.feature.ndjson
  compatibility-kit/javascript/features/unknown-parameter-type/unknown-parameter-type.feature.ndjson
  create-meta/javascript/src/createMeta.ts
  create-meta/javascript/src/evaluateVariableExpression.ts
  create-meta/javascript/src/types.ts
  create-meta/javascript/test/evaluateVariableExpressionTest.ts
  fake-cucumber/javascript/src/TestCase.ts
  fake-cucumber/javascript/src/TestStep.ts
  fake-cucumber/javascript/src/types.ts
  fake-cucumber/javascript/test/TestCaseTest.ts
  fake-cucumber/javascript/test/TestStepTest.ts
  gherkin/javascript/test/ParserTest.ts
  json-to-messages/javascript/test/test-generation/makePredictableHookTestStepTest.ts
  json-to-messages/javascript/test/test-generation/makePredictablePickleTestStepTest.ts
  messages/javascript/test/TimeConversionTest.ts
  package.json
Labels: :bug: bug, :wrench: build, library: fake-cucumber

#1564 Require Markdown tables to be indented 2-5 spaces to be recognised
  compatibility-kit/javascript/features/attachments/attachments.feature.ndjson
  compatibility-kit/javascript/features/data-tables/data-tables.feature.ndjson
  compatibility-kit/javascript/features/examples-tables/examples-tables.feature.ndjson
  compatibility-kit/javascript/features/hooks/hooks.feature.ndjson
  compatibility-kit/javascript/features/markdown/markdown.md
  compatibility-kit/javascript/features/markdown/markdown.md.ndjson
  compatibility-kit/javascript/features/markdown/markdown.md.ts
  compatibility-kit/javascript/features/minimal/minimal.feature.ndjson
  compatibility-kit/javascript/features/parameter-types/parameter-types.feature.ndjson
  compatibility-kit/javascript/features/rules/rules.feature.ndjson
  compatibility-kit/javascript/features/stack-traces/stack-traces.feature.ndjson
  compatibility-kit/javascript/features/unknown-parameter-type/unknown-parameter-type.feature.ndjson
  gherkin/CHANGELOG.md
  gherkin/MARKDOWN_WITH_GHERKIN.md
  gherkin/c/testdata/good/tags.md
  gherkin/c/testdata/good/tags.md.ast.ndjson
  gherkin/c/testdata/good/tags.md.source.ndjson
  gherkin/dotnet/testdata/good/tags.md
  gherkin/dotnet/testdata/good/tags.md.ast.ndjson
  gherkin/dotnet/testdata/good/tags.md.source.ndjson
  gherkin/elixir/testdata/good/tags.md
  gherkin/elixir/testdata/good/tags.md.ast.ndjson
  gherkin/elixir/testdata/good/tags.md.source.ndjson
  gherkin/go/testdata/good/tags.md
  gherkin/go/testdata/good/tags.md.ast.ndjson
  gherkin/go/testdata/good/tags.md.source.ndjson
  gherkin/java/testdata/good/tags.md
  gherkin/java/testdata/good/tags.md.ast.ndjson
  gherkin/java/testdata/good/tags.md.source.ndjson
  gherkin/javascript/src/GherkinInMarkdownTokenMatcher.ts
  gherkin/javascript/src/GherkinLine.ts
  gherkin/javascript/test/GherkinInMarkdownTokenMatcherTest.ts
  gherkin/javascript/testdata/good/tags.md
  gherkin/javascript/testdata/good/tags.md.ast.ndjson
  gherkin/javascript/testdata/good/tags.md.source.ndjson
  gherkin/objective-c/testdata/good/tags.md
  gherkin/objective-c/testdata/good/tags.md.ast.ndjson
  gherkin/objective-c/testdata/good/tags.md.source.ndjson
  gherkin/perl/testdata/good/tags.md
  gherkin/perl/testdata/good/tags.md.ast.ndjson
  gherkin/perl/testdata/good/tags.md.source.ndjson
  gherkin/python/testdata/good/tags.md
  gherkin/python/testdata/good/tags.md.ast.ndjson
  gherkin/python/testdata/good/tags.md.source.ndjson
  gherkin/ruby/testdata/good/tags.md
  gherkin/ruby/testdata/good/tags.md.ast.ndjson
  gherkin/ruby/testdata/good/tags.md.source.ndjson
  gherkin/testdata/good/tags.md
  gherkin/testdata/good/tags.md.ast.ndjson
  gherkin/testdata/good/tags.md.source.ndjson
Labels: :zap: enhancement, library: gherkin

#1576 Ignore the ESM-only hast-util-sanitize module when upgrading dependen…
  .templates/javascript/default.mk
  compatibility-kit/javascript/default.mk
  create-meta/javascript/default.mk
  cucumber-expressions/javascript/default.mk
  fake-cucumber/javascript/default.mk
  gherkin-streams/javascript/default.mk
  gherkin-utils/javascript/default.mk
  gherkin/javascript/default.mk
  html-formatter/javascript/default.mk
  html-formatter/javascript/package.json
  json-formatter/javascript-testdata/default.mk
  json-to-messages/javascript-testdata/default.mk
  json-to-messages/javascript/default.mk
  message-streams/javascript/default.mk
  messages/javascript/default.mk
  package-lock.json
  package.json
  query/javascript/default.mk
  react/javascript/default.mk
  react/javascript/package.json
  tag-expressions/javascript/default.mk
Labels: :robot: dependencies
