Repository cucumber/common, pull requests merged in 2021-01, with the labels that each got.

#1285 gherkin-perl: Use Carton (Perl's Bundler) to store project-local dependencies
  gherkin/perl/.gitignore
  gherkin/perl/Makefile
Labels: language: perl, library: gherkin, type: build

#1286 gherkin-perl: Update Perl Gherkin implementation
  gherkin/perl/bin/gherkin-generate-ast
  gherkin/perl/bin/gherkin-generate-pickles
  gherkin/perl/gherkin-perl.razor
  gherkin/perl/lib/Gherkin/AstBuilder.pm
  gherkin/perl/lib/Gherkin/Dialect.pm
  gherkin/perl/lib/Gherkin/Generated/Languages.pm
  gherkin/perl/lib/Gherkin/Generated/Parser.pm
  gherkin/perl/lib/Gherkin/Line.pm
  gherkin/perl/lib/Gherkin/ParserBase.pm
  gherkin/perl/lib/Gherkin/Pickles/Compiler.pm
  gherkin/perl/lib/Gherkin/TokenMatcher.pm
Labels: language: perl, library: gherkin

#1297 Swedish translation for the "Rule" keyword
  gherkin/c/gherkin-languages.json
  gherkin/dotnet/Gherkin/gherkin-languages.json
  gherkin/elixir/resources/gherkin_languages.json
  gherkin/gherkin-languages.json
  gherkin/go/gherkin-languages.json
  gherkin/java/src/main/resources/io/cucumber/gherkin/gherkin-languages.json
  gherkin/javascript/src/gherkin-languages.json
  gherkin/objective-c/GherkinLanguages/gherkin-languages.json
  gherkin/perl/gherkin-languages.json
  gherkin/python/gherkin/gherkin-languages.json
  gherkin/ruby/lib/gherkin/gherkin-languages.json
Labels: library: gherkin

#1316 gherkin-perl: Fixes due to testing release infrastructure
  gherkin/CHANGELOG.md
  gherkin/perl/.gitignore
  gherkin/perl/Makefile
  gherkin/perl/VERSION
  gherkin/perl/dist.ini
  gherkin/perl/gherkin-perl.razor
  gherkin/perl/lib/Gherkin.pm
  gherkin/perl/lib/Gherkin/AstBuilder.pm
  gherkin/perl/lib/Gherkin/ParserBase.pm
Labels: language: perl, library: gherkin, type: build

#1319 gherkin: Mention @ehuelsmann in CHANGELOG.md
  gherkin/CHANGELOG.md
Labels: library: gherkin, type: docs

#1293 [Elixir] Released package didn't include the gherkin-languages.json file
  gherkin/CHANGELOG.md
  gherkin/elixir/.rsync
  gherkin/elixir/README.md
  gherkin/elixir/lib/gherkin/lexicon.ex
  gherkin/elixir/priv/gherkin_languages.json
Labels: language: elixir, library: gherkin, type: bug

#1299 react: Prevent SearchBar from triggering HTML form action
  react/CHANGELOG.md
  react/javascript/src/SearchQueryContext.ts
  react/javascript/src/components/app/FilteredResults.tsx
  react/javascript/src/components/app/QueriesWrapper.tsx
  react/javascript/src/components/app/SearchBar.tsx
  react/javascript/test/HighlightTest.tsx
  react/javascript/test/SearchBarTest.tsx
Labels: library: cucumber-react, type: bug
